.cbp-af-header { position: fixed; top: 0; left: 0; width: 100%;	z-index: 10000; height: 120px; overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner { width: 90%; max-width: 69em; margin: 0 auto;	padding: 0 15px; }

.cbp-af-header h1,
.cbp-af-header nav { display: inline-block; position: relative; }

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a { line-height:97px; }
.cbp-af-header .logoholder { padding: 10px 10px 0; display: inline-block; position: relative;background: #; }
.cbp-af-header h1 {	color: #fff; letter-spacing: 4px; font-size: 4em; margin: 0; padding: 10px; float: left; background: #1abc9c; }

.cbp-af-header nav { float: right; }
.cbp-af-header-shrink  nav a { color: #333!important;	font-weight: normal; margin: 0 0 0 20px; font-size: 18px; }
.cbp-af-header nav a { color: #fff;	font-weight: normal; margin: 0 0 0 20px; font-size: 18px; }
.gray nav a { color: #666; }
.cbp-af-header nav a:hover {color: #1ABC9C; }
.cbp-af-header-shrink nav a:hover {color: #1ABC9C; }
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s;	transition: all 0.3s; }

.cbp-af-header.cbp-af-header-shrink { height: 90px; background: #f6f6f6; opacity:0.6; filter:alpha(opacity=60); /* For IE8 and earlier */
}
.cbp-af-header.cbp-af-header-shrink .logoholder { float: left; background: transparent; }
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {	line-height: 90px; }

.cbp-af-header.cbp-af-header-shrink h1 { font-size: 2em; }

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav, .logoholder {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 30px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 80px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}

.top-bar { left: 0; overflow: hidden; position: fixed; top: 0; transition: height 0.3s ease 0s; width: 100%; z-index: 10000; 
height: 90px; background: #f6f6f6; opacity:0.6; filter:alpha(opacity=60); }
.top-bar .toggle-topbar.menu-icon { font-size: 19px; margin-top: 5px; padding-left: 40px; right: 0; top: 0%; }
.top-bar .toggle-topbar.menu-icon a span { box-shadow: 0 10px 0 1px #000000, 0 16px 0 1px #000000, 0 22px 0 1px #000000; display: block;
    height: 0; position: absolute;  right: 0;  width: 16px; }
.top-bar ul > li.toggle-topbar:hover { background: transparent;}
.top-bar ul.left { margin-top: 17px;}
.top-bar ul > li a:not(.button) { font-size: 15px;} 
.top-bar.expanded { background: #f2f2f2;  }

.logoholdermob { background: transparent; float: left; padding: 10px 0 0; }
.logoholdermob:hover { margin-right: 10px; } 
.logoholder { background: transparent; float: left; padding: 10px 0 0; }
.logoholder:hover { margin-right: 10px; } 

.top-bar ul > li a:not(.button) {height: 100%;}