{% block title %}Michael Cattell : About - Freelance Digital Designer based in South Yorkshire.{% endblock %}
{% block content %}

<header class="clearfix">
  <section id="about" class="noise" data-speed="4" data-type="background" >

  </section>
</header>

<section class="contentnopad">
  <div class="contentholder40" style="background: #f8f6f5; ">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mediumh11 animated fadeIn Big">Freelance Designer & Front End Developer. Husband to <a href="http://www.glamlifeofahousewife.com" title="head this way to see my wife's blog">Emma</a>, father to  a rather fluffy Pomeranian called <a href="http://www.pomsnotbombs.co.uk" title="see my little pomeranian this way">Ralph</a>.</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contentholder60">
    <div class="row">
      <div class="twelve columns">
         <p class="intro">My experience includes specialising in <strong>Front-end web design</strong>, <strong>ecommerce</strong> & <strong>interface design</strong> plus the occasional <strong>app design</strong>, working for agencies, startups, and huge corporations.</p>
         <p class="intro">I mainly work from my well equipped office. When I’m not my office I’m usually on-site with clients or agencies around Yorkshire, Midlands or even America!</p>
         <p class="intro">You’ll usually find me dabbling in some <strong>Photoshop</strong>, hard-coding <strong>HTML5</strong> responsive websites in Sublime Text like I’m a man obsessed, making magical things happen with <strong>CSS3</strong> or chasing my little Ralph around the garden with my camera!</p>
         <p class="intro">Hire me! <a href="#" data-reveal-id="myModal" title="Available to design the heck out of anything you can dream of, so let me know!">I'm available. </a>  </p>  
      
        </div>
      
      </div>
    </div>
</section>

<section class="lightgraybgstyle">
  
  <div class="row">
    <div class="twelve columns">
      <div class="contentholder60">
          <p class="intro"><strong>Specialties:</strong> Design (Responsive), User Interface / Experience Design, Front-end Development (Html(5), css(3), jQuery), IOS, Android (Mobile/Tablet Design)</p>
          <p class="intro"><strong>Skills:</strong> Colour Theory, Typography, Layout Principles (harmony, balance, contrast, and emphasis), Communications theory</p>
          <p class="intro"><strong>Additional:</strong> Wireframe, Mockups, Web Standards, Branding, Email Template Design & Layout, Leadership of Projects Ensuring Quality Control</p>
      </div>
    </div>
  </div>
</section>

{% include "testimonials" %} 

<section>
  <div class="contentholder60" style="background: #E8E7E2; display: none;">
    <div class="row">
      <div class="twelve columns">
          <h2 class="">From the travel blog (when its built)</h2>
          <p class="intro darktxt">I love to travel, so quite often, my wife and I take a week off, grab our walking shoes and get lost in a city of our liking. Here is where you can see the pictures and maybe a rambling about our experiences!</p>
          <br><br>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">San Fransciso</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">Washington DC</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext"> New York City</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">Egypt</div></a>
          </div>                  

    </div>
  </div>
</section>

<div id="myModal" class="reveal-modal" data-reveal>

 <section>
       <div class="row">
          <div class="twelve columns">
            <h1 class="title animated fadeIn">Let's talk</h1>
            <h2 class="standardh2 animated fadeInDown">I am currently: <span class="green"><strong>Available</strong>.</h2>
            <p class="intro">If you would like to work with me on a project in the future be it design, podcasting or writing then I’d love to hear from you, all you need to do is fill in this handy form below!</p>
          </div>
        </div>
 </section>

    
<!-- Contact Form -->
<section>
  <div class="row">
    
    <div class="twelve columns contact-form">
       <form action="contact.php" method="post">
           <p class="contact-name controls">
              <input id="name" type="text" placeholder="Name" value="" name="mc_name" />
            </p>
            <p class="contact-email controls">
              <input id="email" name="mc_email" type="email" placeholder="Email address">
            </p>
            <p class="contact-message controls">
              <textarea id="message" name="mc_message" placeholder="Your Message" rows="10" cols="40"></textarea>
            </p>
            <p class="contact-submit controls">
            <button id="contact-submit" type="submit" value="Send" class="bigblue button">Send</button>
            </p>
        </form>
    </div>
  </div>
</section> 
  <a class="close-reveal-modal">&#215;</a>
</div> 
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}