{% layout "alternative" %}
{% block content %} 

 <header class="clearfix">
  <section id="about" data-speed="4" data-type="background"> </section>
</header>

<section class="contentnobg">
<div class="contentinternalpadeven">
  <div class="row">
    <div class="eight columns">
        <div id="purchaseLink" class="purchase show-for-small ">
        <a class="bigred button" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 18px 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a>
    </div>
      <h1 class="title">About</h1>
      <h3 class="title-description">Coffee drinker, Creative thinker & maybe unicorn?</h3>
    </div>
    <div class="four columns">
      <div id="purchaseLink" class="purchase hide-for-small"> <a class="bigredbutton" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 10px 0 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>
    </div>
    <div class="twelve columns">
      <p class="intro">Being a <strong>User Interface Designer</strong>, means I can design a website to meet your needs and exceed them, coupled with the ability as a <strong>Front-end Developer</strong> allows me to be able to not only design, but code your website to work on all devices, ensuring they work correctly and something.</p>
      <p>I have been in this game for 8 years, working with digital agencies in Yorkshire, to being Senior designer based in South California, which has allowed me to experience the ups and downs (now now..we all know sometimes things don’t work out how they are suppose to), so I am well versed in most things web-ster-ish, thus leaving us both to not suffer from sleepless nights.</p>
      <p>I am an incredibly passionate designer; skilled in colour theory, typography, and layout principles (harmony, balance, contrast, and emphasis), <i>now I know you are all thinking this is all technical mumbo jumbo</i> – basically this means, I will get the colour of your branding right, and put your company’s message across correctly and very professionally – consequently making customers love you and buy/read/click your products!</p>
      <p>I focus on writing clean, elegant and efficient code. I have a fondness for <strong>HTML (5)</strong>, <strong>CSS (3)</strong>, a hint of <strong>jQuery</strong> and often a big scoop of <strong>Wordpress/Tumblr</strong>.</p>
    </div>
  </div>
</div>
</div>
<!--</div> End Title Page -->

<section class="content" style="background: #fff;"">
  
<div class="row">
  <div class="four columns">
    <h3 class="standardh3">My Beliefs</h3>
    <p>I am very privileged to do a job which entails me having complete freedom and scope to show off my creativity, coming from X years in the banking industry, I see both the need for forward thinking and ROI, yet the need to make everything as simple and easy to use as possible.</p>
    <p>I approach all projects in a very simple manner: what does the client want, what does the user want and how can I give it to them. These three questions are the basic foundations on which I design and build my ideas, strating from a simple notepad and pencil to coding, via a quick visit to Photoshop or Fireworks!</p>
  </div>
  <div class="four columns">
    <h3 class="standardh3">My Methods</h3>
    <p>I put my heart into every project I do, regardless of the size and budget, I design with the user in mind, aiming for the wow factor alongside ease of use for everyone.</p>
    <p>I can both design and code (HTML, CSS, and jQuery) or be used as a Front-end Developer to code a pre-existing design.</p>
    <p>I support the client throughout the project, and always being responsive to their needs means that all projects are done to a high standard.</p>
  </div>

  <div class="four columns greenbackground white end hide-for-small">
     <div class="normalcontent techincals">
        <h3 class="standardh3 white">The Technicals</h3>
        <ul>
          <li>Standards-compliant, semantic <strong>HTML5</strong></li>
          <li>Well-documented, well-organized <strong>CSS3</strong></li>
          <li>Accessibility fundamentals</li>
          <li>Cross-browser compatibility problem-solving</li>
          <li>Grids, layout, typography, colour theory</li>
          <li><strong>Wordpress / Tumblr</strong> theme development</li>
          <li>Image editing and graphic design</li>
          <li>Leadership of Projects</li>
          <li>User of SVN and GIT</li>
          <li><a href="http://www.last.fm/user/mikey_cattell" title="listing my latest and maybe embarrassing tunes listened to">Jukebox master</a></li>
        </ul>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> c19ca42b43fc897b773f0bd35d28af923ea27247
    <div class="resumegreen">
        <div class="resume">
          <ul>
            <li><a href="">My CV / Resume</a><div class="right"><img src="assets/images/icons/cv_circle.png"></div></li>
          </ul>
        </div>
    </div>

  </div>
</div>

<<<<<<< HEAD
  <div class="twelve columns greenbackground white show-for-small">
     <div class="normalcontent techincals">
        <h3 class="standardh3 white">The Technicals</h3>
        <ul>
          <li>Standards-compliant, semantic <strong>HTML5</strong></li>
          <li>Well-documented, well-organized <strong>CSS3</strong></li>
          <li>Accessibility fundamentals</li>
          <li>Cross-browser compatibility problem-solving</li>
          <li>Grids, layout, typography, colour theory</li>
          <li><strong>Wordpress / Tumblr</strong> theme development</li>
          <li>Image editing and graphic design</li>
          <li>Leadership of Projects</li>
          <li>User of SVN and GIT</li>
          <li><a href="http://www.last.fm/user/mikey_cattell" title="listing my latest and maybe embarrassing tunes listened to">Jukebox master</a></li>
        </ul>
    </div>

=======
>>>>>>> c19ca42b43fc897b773f0bd35d28af923ea27247
    <div class="resumegreen">
        <div class="resume">
          <ul>
            <li><a href="">My CV / Resume</a><div class="right"><img src="assets/images/icons/cv_circle.png"></div></li>
          </ul>
        </div>
    </div>
  </div>

<<<<<<< HEAD
<div class="height10"></div>
  
</div>


=======
  </div>
</div>

>>>>>>> c19ca42b43fc897b773f0bd35d28af923ea27247
=======
>>>>>>> c19ca42b43fc897b773f0bd35d28af923ea27247
<div class="height10 show-for-small"></div>

  <div class="row">

  <div class="twelve columns">
     <div class="listofdoanddont">
        <div class="four column cheerfulgreen text-center"><p style="margin: 0"><a href="#" data-reveal-id="whoiworkwith" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Who I work with</a></p>
        </div>
          <div class="four column visionarygreen text-center"><p style="margin: 0"><a href="#" data-reveal-id="webapp" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Web, App and Mobile Design</a></p></div>
          <div class="four column joyfulgreen end text-center"><p style="margin: 0"><a href="#" data-reveal-id="whatidontdo" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">What I don't do</a></p></div>   
        </div>
      </div>
  </div>
</section>

<section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <div class="row">

      <div class="six columns">
        <span style="background-color: #; font-size: 20px; color: #999; line-height: 30px;">"Mikey is a talented and expert graphic designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed. Always generous with his time, talent, and humor."</span>
              <!--<div class="arrow-down"></div>-->
              <p style="font-size: 24px; padding: 0; margin: 0; color: #333;">Christine Le</p>
              <p style="font-size: 12px; padding: 0;">Project Manager of Marketing Campaigns</p>
        </div>
        <div class="six columns">
           <span style="background-color: #; font-size: 20px; color: #999; line-height: 30px;">"Michael was always willing to offer his assistance and had an excellent rapport with all constituents served in the office including clients, employers and other professional organisations.<br>He would be an asset to any employer and I highly recommend him for any employment. He will be a valuable asset for any organization."</span>
              <!--<div class="arrow-down"></div>-->
              <p style="font-size: 24px; padding: 0; margin: 0; color: #333;">John Bottomly </p>
              <p style="font-size: 12px; padding: 0;">Business Manager, Yorkshire Post</p>
        </div>
    </div>
  </div>
</section>


<div id="whoiworkwith" class="reveal-modal">
  <h3>Who I work with</h3>
   <div class="entry-content">
      <h4 class="standardh4">Small businesses</h4>
      <p>I love working with small businesses – I find this way you get close to the real project and you really get the feeling that you, a designer are making a huge difference to the workplace. I am happy to slot into the current team (if you have one) or manage projects and teams to get them done on time!</p>
      <h4 class="standardh4">if (developer ) echo "need a designer"; </h4>
      <p>I design, doing the heavy lifting stuff isn’t for me – im not made for searching through databases and long streams of code – I get confused and frazzled just thinking about it, but you are not either made to look at a screen pushing them curved corner squares around. Some say we could be a match made in heaven, but as I’m already married - I could never commit.</p>
      <p>I know where to put my code, and roughly what your code means (the simple stuff of course), so you can trust me not to break anything – but I maybe might need help sometimes!</p>
      <h4 class="standardh4">Startups – you energetic things</h4>
      <p>I have a fun and well fun history of working with start ups in California, so I am well versed in startups and the limitations, but I don’t care for them – I care for getting your product out there to wow the audience. I understand that the big word of the day is <strong> budget</strong>, so I am flexible to adjust my costs to match your dreams! I can do most things, so designing things for web as well as print is a joy for me! </p
       <h4 class="stardardh4">Individuals – just you and me and some thinking</h4>
      <p>Like any good partnership, you have to start getting to know each other – and this is why I love working one on one, I get to know your passion for the project (be it your company or just you) and really give you something that is personal and something you can be proud of, and know you helped hugely in the progress of building your brand. I can advise on most things, all I ask for is a coffee before meetings.</p>
      <h4 class="standardh4">Anybody else</h4>
      <p>I have probarly missed out a ton of folks – but If I was to list them all this modal window would stretch longer than your mouse can scroll! Feel free to get in <a href=”contact” title=”get in touch and lets talk about it”>touch</a> with any work – I promise a fun project, crammed with creativity and a great experience! </p>
 </div>
  <a class="close-reveal-modal">&#215;</a>
</div>



<div id="webapp" class="reveal-modal">
<h3>Web, App and Mobile Design</h3>
<h4 class="standardh4">Website <strong>design and build</strong></h4>
<p>Designing web sites is my bread and butter, it’s what I do. If you need a strong online presence, I ensure I can help in this area – I promise a website which will work on all ‘online devices’, any level of users will be able to use it, and I can also help and offer advice on setting up and assisting on your social media approaches.</p>

<p>NOTE: I don’t do development work (the heavy stuff), I would need to outsource this, which I would be upfront about when it gets into this field, but I have more than enough really amazing developers on hand to help!</p>
<h4 class="standardh4">Website design-only</h4>
<p>Sometimes, companies have their own team of developers – this is fine, I can quite happily just design the site (in Photoshop / Fireworks) and hand them over to the developer. </p>
<h4 class="standardh4">Website build-only</h4>
<p>Of course, along companies who just have developers, sometimes you guys can just have a team full of designers – this is where I can come in and assist in building the front-end of your website. All I would need is the mockups of the website/emailer and ask a handful of questions and im off – doing that geeky stuff.</p>
<h4 class="standardh4">WordPress Theme Design</h4>
<p>WordPress – you’ve heard of it, but want the look of your site personalized. I can help you out.I have worked alongside WordPress for many years now, it has it all, a powerful CMS (content management system – simply put, it is where you can edit your site yourself (text wise), and also do blog posts easily!), it is also free! But of course, you need WordPress  to match your branding, this is where I come in. </p>
<p>I will also help you understand the admin section, so you can blog/edit at ease</p>
<h4 class="standardh4">Web App Design</h4>
<p>I can deliver templates for your web app in HTML and CSS, ready to bolt on to your backend.</p>
<p>From the initial planning phases, through wireframes and up to the finished product I can help you create usable and good-looking interfaces.</p>
<h4 class="standardh4">Mobile App Design</h4>
<p>I also can produce mobile app designs, similar to the website design brief – I will design in Photoshop/Fireworks and hand them over to your developers, clearly labeled with instructions on what goes where, and how it gets there!</p>
 <a class="close-reveal-modal">&#215;</a>
</div>


<div id="whatidontdo" class="reveal-modal">
<h3>What I don&#8217;t do</h3>
<h4 class="standardh4">I thought You did hosting and domain names purchasing</h4>
<p>This is something I do not do. I have no experience in fixing the I.T. things, so if your site goes down at 1am and you suddenly need it back to life, I honestly wouldn’t not know where to start. So I insist that you buy your own Host and domain names – of course I will assist and point you in the right direction when the time comes, and if you wish to get more technical I can even recommend some folks who can assist you even more.</p>
<h4 class="standardh4">Ongoing website maintenance</h4>
<p>There is a reason I don’t offer this service, I build most of my sites with Perch or WordPress (both are CMS’ – you can edit all text parts of the site yourself), so you wouldn’t need to call me at 3am with copy changes, you can quite simply change them yourself. Of course, you can come to me with changes, and I will advise on the best step forward. </p>
<h4 class="standardh4">Development-only </h4>
<p>I am a designer, I push squares around the screen, then I make them appear on websites – what I don’t do is high-end development. I specialize in design, so to have me doing the back-end stuff as well would just blow my mind, and I quite like having my mind not blown up! </p>
<p>Again, I have a list of powerful, wonderful and quite frankly to good to be true developers that I can happily call and get them onboard – all of which I will be upfront with you about, I will also manage them so we are all on the same singing sheet!</p>
<a class="close-reveal-modal">&#215;</a>
</div>

<<<<<<< HEAD
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
=======


>>>>>>> c19ca42b43fc897b773f0bd35d28af923ea27247

{% endblock %}