{% block content %}
<header class="clearfix">
  <section id="about">
    <div class="row">
      <div class="headerholderabout">
      <hgroup>
        <h1 class="mainh111 animated fadeIn Big">Eat, Design, Sleep</h1>
        <h2 class="standardh222 animated fadeInDown">Repeat</h2>
       </hgroup>
      </div>
    </div>
  </section>
</header>
  
<section>
  <div class="lightgraybgstyle contentinternalpadeven animated fadeIn quoted">
    <div class="row">
      <div class="twelve columns">
        <blockquote>
        <strong>&quot;</strong>Mikey is a talented and expert designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed. Always generous with his time, talent, and humor.<strong>&quot;</strong>
        </blockquote>
        <p class="quote">Christine Le - Project Manager of Marketing Campaigns</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="eight columns">
        <p class="intro">Me in a brief sentence: Freelance Designer & Front End Developer. Husband to <a href="http://www.glamlifeofahousewife.com" title="head this way to see my wife's blog">Emma</a>, father to  a rather fluffy Pomeranian called <a href="http://www.pomsnotbombs.co.uk" title="see my little pomeranian this way">Ralph</a>.</p>
         <p class="intro">My experience includes being in this industry for 9 years, working for agencies, startups, huge corporations and now, as a freelancer - based in Yorkshire, Birmingham and California, America (sometimes <span data-tooltip class="has-tip" title="Basically this means &quot;work-at-home&quot;, totally dedicated to you and your project needs">remotely</span>, sometimes <span data-tooltip class="has-tip" title="I come to you, who doesn’t want a happy designer in the office hogging all the coffee?">on location</span>).</p> 
         <p class="intro">Specialising in Front end web design, ecommerce & interface design plus the occasional app design. Also have a keen practiced interest in branding and logo design.</p>
         <p class="intro">I mainly work from my well equipped offices based in Doncaster and Birmingham. When I’m not my office I’m usually on-site with clients or agencies around Yorkshire, Midlands or even America!</p>
      </div>
      <div class="four columns preview fadeInRight">
        <img src="{{"familyandme.jpg" | asset_url }}" alt="A handy picture of me, but in gray..'cos well all cool designers do this." />
      </div>
      <div class="height10 show-for-small"></div>
      <div class="twelve columns">
        <p class="intro">You’ll usually find me with Photoshop or (the mighty) Fireworks open, hard-coding HTML5 responsive websites like I’m a man obsessed, making magical things happen with CSS3 or chasing my little Ralph around the garden with my camera!</p>
        <p class="intro">Hire me! <a href="contact" class="animated fadeIn" title="Available to design the heck out of anything you can dream of, so let me know!">I'm available. </a>
      </div>
      
      </div>
    </div>
</section>

{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}