{% block content %} 

 <header class="clearfix">
  <section id="about" data-speed="4" data-type="background"> </section>
</header>
<section class="contentnobg">
<div class="contentinternalpadeven">
  <div class="row">
    <div class="eight columns">
        <div id="purchaseLink" class="purchase show-for-small ">
        <a class="bigred button" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 18px 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a>
    </div>
      <h1 class="title">
      About Us
      </h2>
      <h3 class="title-description">Coffee drinker, Creative thinker & maybe unicorn?</h3>
    </div>
    <div class="four columns">
      <div id="purchaseLink" class="purchase hide-for-small"> <a class="bigredbutton" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 10px 0 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>
    </div>
    <div class="twelve columns">
      <p class="intro">Being an User Interface Designer, means I can design a website to meet your needs and exceed them, coupled with the ability as a Front-end Developer allows me to be able to not only design, but code your website to work on all devices, ensuring they work correctly and something.</p>
      <p>I have been in this game for 8 years, working with digital agencies in Yorkshire, to being Senior designer based in South California, which has allowed me to experience the ups and downs (now now..we all know sometimes things don’t work out how they are suppose to), so I am well versed in most things web-ster-ish, and wont leave you with sleepless nights.</p>
      <p>I am an incredibly passionate designer skilled in colour theory, typography, and layout Principles (harmony, balance, contrast, and emphasis), this is all technical mumbo jumbo – basically this means, I will get the colour of your branding right, and put your company’s message across correctly and very professionally – thus making customers love you and buy/read/click your stuff!</p>
      <p>I work with small and large businesses, individuals and startups to help create quality, expressive and useful designs. </p>
      <p>I focus on writing clean, elegant and efficient code. I have a fondness for HTML (5), CSS (3), a hint of jQuery and often a big scoop of Wordpress/Tumblr.</p>
      <!--<p>I have been known to hang out online often, find me parleying on <a href="">Twitter</a>, listening to the wildest beats on <a href="">Last.fm</a> and trying to keep my <a href="">Instagram</a> pics up to date..but failing.</p>-->
    </div>
  </div>
</div>
</div>
<!--</div> End Title Page -->
<section class="contentnopadding">
  
<div class="row">
  <div class="four columns">
    <h3 class="standardh3">My Beliefs</h3>
    <p>I am very privileged to do a job which entails me having complete freedom and scope to show off my creativity, coming from X years in the banking industry, I see both the need for forward thinking and ROI, yet the need to make everything as simple and easy to use as possible.</p>
    <p>I approach all projects in a very simple manner: what does the client want, what does the user want and how can I give it to them. These three questions are the basic foundations on which I design and build my ideas, strating from a simple notepad and pencil to coding, via a quick visit to Photoshop or Fireworks!</p>
  </div>
  <div class="four columns">
    <h3 class="standardh3">My Methods</h3>
    <p>I put my heart into every project I do, regardless of the size and budget, I design with the user in mind, aiming for the wow factor alongside ease of use for everyone.</p>
    <p>I can both design and code (HTML, CSS, and jQuery) or be used as a Front-end Developer to code a pre-existing design.</p>
    <p>I support the client throughout the project, and always being responsive to their needs means that all projects are done to a high standard.</p>
  </div>

  <div class="four columns greenbackground white end">
     <div class="normalcontent techincals">
        <h3 class="standardh3 white">The Technicals</h3>
        <ul>
          <li>Standards-compliant, semantic <strong>HTML5</strong></li>
          <li>Well-documented, well-organized <strong>CSS3</strong></li>
          <li>Accessibility fundamentals</li>
          <li>Cross-browser compatibility problem-solving</li>
          <li>Grids, layout, typography, colour theory</li>
          <li><strong>Wordpress / Tumblr</strong> theme development</li>
          <li>Image editing and graphic design</li>
          <li>Leadership of Projects</li>
          <li><a href="">Jukebox master</a></li>
        </ul>
      </div>
    <div class="resumegreen">
        <div class="resume">
          <ul>
            <li><a href="">My CV / Resume</a><div class="right"><img src="assets/images/icons/cv_circle.png"></div></li>
          </ul>
        </div>
    </div>

</div>
</section>

<section class="contentnobg">
  <div class="row">
  <div class="twelve columns">
     <div class="listofdoanddont">
        <div class="four column cheerfulgreen"><p style="margin: 0"><a href="#" data-reveal-id="whoiworkwith" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Who I work with</a></p>
        </div>
          <div class="four column visionarygreen"><p style="margin: 0"><a href="#" data-reveal-id="webapp">Web, App and Mobile Design</a></p></div>
          <div class="four column joyfulgreen end"><p style="margin: 0"><a href="#" data-reveal-id="whatidontdo">What I don't do</a></p></div>   
        </div>
      </div>
  </div>
</section>

<section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <div class="row">
      <div class="twelve columns"> 

      <ul data-orbit>
        <li data-orbit-slide>
          
           <span style="background-color: #; font-size: 24px; color: #999; line-height: 30px;">Mikey is a talented and expert graphic designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed. Always generous with his time, talent, and humor.</span>
              <!--<div class="arrow-down"></div>-->
              <p style="font-size: 24px; padding: 0; margin: 0; color: #333;">Christine Le</p>
              <p style="font-size: 12px; padding: 0;">Project Manager of Marketing Campaigns</p>
        </li>
        <li data-orbit-slide>
           <span style="background-color: #; font-size: 24px; color: #999; line-height: 30px;">Michael was always willing to offer his assistance and had an excellent rapport with all constituents served in the office including clients, employers and other professional organisations.<br>He would be an asset to any employer and I highly recommend him for any employment. He will be a valuable asset for any organization.</span>
              <!--<div class="arrow-down"></div>-->
              <p style="font-size: 24px; padding: 0; margin: 0; color: #333;">John Bottomly </p>
              <p style="font-size: 12px; padding: 0;">Business Manager, Yorkshire Post</p>
        </li>
        <li data-orbit-slide>
           <span style="background-color: #; font-size: 24px; color: #999; line-height: 30px;">Michael is a fantastic mentor and talented designer. I worked with him on many design projects at Premier Food Safety, both print and web. He is always willing to lend his design expertise, assist on projects, and work out design issues. He spent many hours teaching me complex programs and design techniques. For this and his great sense of humor, I cannot express enough gratitude</span>
              <!--<div class="arrow-down"></div>-->
              <p style="font-size: 24px; padding: 0; margin: 0; color: #333;">Jill Winter</p>
              <p style="font-size: 12px; padding: 0;">Photographer and Designer</p>
        </li>
      </ul>

      </div>
    </div>
  </div>
</section>
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Writings</h3>
        <script src="http://feeds.feedburner.com/michaelcattell/ztcG?format=sigpro" type="text/javascript" ></script>
      </div>
    </div>
  </div>
</section>

<section>
<div class="lightgraybgstyle contentinternalpad">
<div class="row">
  <div class="twelve columns">
    <p class="" style="#fff; text-align: center; font-size: 18px;"><img src="assets/images/icons/twitter_icon.png">This t shirt im wearing is getting tighter and tighter..im not the Hulk, just hungry.</p>
  </div>
</div>
</section>

<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<div id="whoiworkwith" class="reveal-modal">
  <h1 class="entry-title">Who I work with</h1>
   <div class="entry-content">
        <h2>Individuals</h2>
<p>I love the relationships that come out of working with individuals. I can take the time to get to know you and what you love doing. I can offer you advice if you need it and I’ll always recommend the best way to help you rather than the best way to line my pockets.</p>
<h2>Small businesses</h2>
<p>Independent and personal is what I am, so I love working with businesses like me. It&#8217;s great being an individual but I’m happy to slot in with your team and help make up the necessary skills to make a project great.</p>
<h2>Developers</h2>
<p>I’m not made for back-end and database development. You’re not made for design. We’re made for each other. I know a lot about standards-based and good practice front-end development so I hope my designs delight rather than infuriate!</p>
<h2>Startups</h2>
<p>I understand that budgets are the biggest hurdle for most startups. I can help devise a plan where I can deliver useful designs that suit your budget. I’m flexible so I’m happy to just do visual design if you’ve got the developers, or help you with planning the design and development if you&#8217;re a business-headed person.</p>
<h2>Anybody else</h2>
<p>Even though I specialise in the small, I’m happy to work with anybody. Bureaucracy and endless legal documents aren’t my style. I like to be friendly, do everything in plain English and keep things relatively informal. If fun times and easy living suit you too, please get in touch!</p>
              </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="webapp" class="reveal-modal">
<h1 class="entry-title">Web, App and Mobile Design</h1>
  
      <div class="entry-content">
        <h2>WordPress Theme Design</h2>
<p>I always design my WordPress themes from scratch, mostly based on my own blank theme. I work with WordPress for a lot of reasons, but in the main I use WordPress because it&#8217;s:</p>
<ol>
<li>Free (in both senses of the word.) It allows me to make inexpensive themes because I don&#8217;t have to factor in the cost of some fancy content management software.</li>
<li>It&#8217;ll be around for a long time. WordPress has got a huge community and a lot of support behind it. It&#8217;s not going to disappear tomorrow or next month so I feel confident in using it as a future-proof solution.</li>
<li>The WordPress admin is great. If you want to change your content it&#8217;s really easy. On almost every occasion my clients are able to change the content of their website themselves for maximum flexibility and no cost!</li>
</ol>
<p>A WordPress theme can cost between £1500 and £5000.</p>
<p><a href="http://laurakalbag.com/types/wordpress-theme/">See examples of my WordPress theme design work.</a></p>
<h2>Web App Design</h2>
<p>I can deliver templates for your web app in HTML and CSS, ready to bolt on to your backend.</p>
<p>From the initial planning phases, through wireframes and up to the finished product I can help you create usable and good-looking interfaces.</p>
<p><a href="http://laurakalbag.com/types/web-app/">See examples of my web app design work.</a></p>
<h2>Website Design</h2>
<p>Don&#8217;t need content management? Not got a web app? I&#8217;m happy to create a website for you in good old HTML and CSS.</p>
<p><a href="http://laurakalbag.com/types/website/">See examples of my static website design work.</a></p>
<p>NOTE: I don&#8217;t (and no, I won&#8217;t!) outsource any of my development work, I do it all myself.</p>
<h2>Website Visuals Design</h2>
<p>When working with developers or companies that have in-house developers, I&#8217;m happy to create static mockups of website designs if you want to handle the development yourselves.</p>
<p>Photoshop-only website designs can cost from £800 to £3000 depending on the complexity of the content and amount of pages.</p>
<p><a href="http://laurakalbag.com/types/website/">See examples of my visual website design work.</a></p>
<h2>Mobile App Design</h2>
<p>I produce my mobile app designs in properly labelled and cleanly laid-out documents. I usually base these designs on my own wireframes but can work with your wireframes if you already have these.</p>
<p>Mobile app designs cost from £800 for a couple of screens to £5000 for a complex, fully-featured set of designs.</p>
<h2>Icon Design</h2>
<p>Icons work best when designed at the intended display sizes. I often created multiple versions of an icon at different sizes to accommodate the varying detail and line weights needed for a good-looking interface.</p>
<p>The cost of icon design can vary from £500 for a few simple icons to £2500 for more, complex and multiple-sized icons.</p>
<p><a href="http://laurakalbag.com/types/icons/">See examples of my icon design work.</a></p>
              </div>
</div>

<div id="whatidontdo" class="reveal-modal">
<h1 class="entry-title">What I don&#8217;t do</h1>
  
      <div class="entry-content">
        <h2>Hosting and domain names</h2>
<p>I prefer my clients to register their own domain names and purchase their own web hosting. I&#8217;m not an expert in domain management or hosting but if you&#8217;re looking for someone who is, I may be able to ask around and recommend somebody to you.</p>
<h2>Ongoing website maintenance</h2>
<p>Most often I create <a href="http://wordpress.org">WordPress</a> themes or <a title="Perch, the really little content management system" href="http://grabaperch.com">Perch</a>-based solutions for my clients as they both provide a way for you to update your own website easily in the future. If I think your project is likely to need ongoing maintenance, I&#8217;m likely to recommend these solutions.</p>
<h2>Development-only solutions</h2>
<p>Although I pride myself in high-quality development, I use this to support my design work so do not offer any development work without design.</p>
<h2>Working for your company full time</h2>
<p>You&#8217;d be amazed how often I get asked to join companies full time. I don&#8217;t doubt that your company is great and your project is the best, but I love being freelance and working for myself.</p>
              </div>
</div>

    <style>
    a.orbit-prev, a.orbit-next, .orbit-timer { display:none; }
    .orbit-container { background: transparent;}
  </style>


{% endblock %}