{% block content %}
<header class="clearfix">
  <section id="home" data-speed="4" data-type="background">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mainh1">User Interface <span class="darkgray">Designer</span> &<br>
          Front-end <span class="darkgray">< /Developer></span></h1>
      </div>
    </div>
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro">I was actually approached by a friend who had won the contract but couldn’t find time to do it, so contacted me with a very tight deadline. Design and build within 3 days. Simple!</p>
          <p class="intro">A company which specializes in designing and building bespoke kitchens in Leeds, England.</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Design and build – turnover time was quick so I project-managed timescales and copy intake to get the desired result – live on Friday! GettingLessSimple!</p>
      </div>
      <div class="six columns">
        <p>qweqwe</p>
      </div>          
    </div>
  </div>
</section>

<section class="contentnopad">
  <img src="assets/images/portfolio/premierfoodsafety/premierfoodsafety_layout.jpg">
</section>

<section class="content">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="four columns">
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">I wanted to design something that stood out, to show the companies creativity and really put their products ‘in your face’. Pictures speak hundred words.</p>
      </div>
      <div class="eight columns">
        <p class="intro">I wanted to design sin your face’. Pictures speak hundred words.</p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <p>qweqweqwe</p>
      </div>    
      <div class="six columns">
        <h3 class="standardh3">Sketch it out first</h3>
        <p>If any designer tells you they go from head to PS/Fireworks never believe them! I work my way through many pens, as im always scribbling the layout. Here you can see the design didn’t really change from the 1st scribble.</p>
      </div>
      <div class="six columns">
        <p>qweqweqwe</p>
      </div>         
     </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Design was completed  in 2 days (including sign off), build in 3 hours and testing done in 1 hour. Done!</p>
        <p class="intro">Thus making my client one happy client – which is bloody fantastic!</p>
      </div>
   
    </div>
  </div>
</section>


<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}