{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section class="fixermargin">
  <img src="{{ "apex_opening.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />

  </section>
</header>

<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.apexworkplace.com" title="view apex workplace solutions here">www.apexworkplace.com</a></p>
          <p class="intro">Apex Workplace Solutions was formed to empower and assist clients with a range of Human Resources services and needs.</p>
          <p>We have over 60+ collective years of experience in corporate HR and Organizational Development. We've trained and consulted over 350 organizations in California spanning across multiple industries including consumer products/services, education, government, manufacturing, food service and entertainment. Our management team also specializes in training development, presentation and delivery - our classes reflect the quality of this expertise. Our clients have consistently provided positive references as they have referred us to other organizations.</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns fadeInImg animated">
        <img src="{{ "grouppic.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
      </div>     
      <div class="six columns end">
        <h3 class="standardh3">My Role</h3>
        <p>I was design-lead throughout the complete project of Apex Workplace Solutions, my designs covered web, eLearning admin and the actual online course and the stationary. </p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns fadeInImg animated">
        <img src="{{ "apex_layout.png" | asset_url }}" alt="Michael Cattell Home Icon" />
      </div>     
      <div class="six columns end">
        <h3 class="standardh3">The Layout</h3>
        <p>The brief was simple – smart, SEO friendly and ‘clean’ looking to match the existing brand already recognized by previous users. </p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">The Admin</h3>
        <p>We completely reinvented the companies admin – I wanted to deliver a clear user experience – training should be done quickly and easily by anyone.  This received a lot of compliments by all clients. Which is always nice!</p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="twelve coulums fadeInImg animated row width1100">
      <img src="{{ "apexworkplace_layout.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p>Overall, it took about 1 month to put it all together, from planning, implementation, testing and guidelines to clients on how to use (simple documents were sent). Built within a php environment, really meant I got to grips in all levels. I’m no PHP developer, but I can handle seeing a lot more of it after this. A* project for this!</p>
      </div>       
    </div>
  </div>
</section>

<section class="nextbackholder">
  <div class="row">
    <p class="intro">Like this? Why don't you <a href="contact">tell</a> me.</p>
    <a class="btn btn-line left" href="/work">&lt; &nbsp;&nbsp;See all work</a>
    <a class="btn btnsolid right" href="pomsnotbombs">Next Project &nbsp;&nbsp;&gt;</a>
  </div>
</section>

{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 

{% endblock %}