{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/apexworkplace/apex_opening.png">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro">Apex Workplace Solutions was formed to empower and assist clients with a range of Human Resources services and needs.</p>
          <p>We have over 60+ collective years of experience in corporate HR and Organizational Development. We've trained and consulted over 350 organizations in California spanning across multiple industries including consumer products/services, education, government, manufacturing, food service and entertainment. Our management team also specializes in training development, presentation and delivery - our classes reflect the quality of this expertise. Our clients have consistently provided positive references as they have referred us to other organizations.</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <img src="assets/images/portfolio/apexworkplace/grouppic.jpg">
      </div>     
      <div class="six columns end">
        <h3 class="standardh3">My Role</h3>
        <p>I was design-lead throughout the complete project of Apex Workplace Solutions, my designs covered web, eLearning admin and the actual online course and the stationary. </p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <img src="assets/images/portfolio/apexworkplace/apex_layout.png">
      </div>     
      <div class="six columns end">
        <h3 class="standardh3">The Layout</h3>
        <p>The brief was simple – smart, SEO friendly and ‘clean’ looking to match the existing brand already recognized by previous users. </p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">The Admin</h3>
        <p>We completely reinvented the companies admin – I wanted to deliver a clear user experience – training should be done quickly and easily by anyone.  This received a lot of compliments by all clients. Which is always nice!</p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <img src="assets/images/portfolio/apexworkplace/apexworkplace_layout.png">
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p>Overall, it took about 1 month to put it all together, from planning, implementation, testing and guidelines to clients on how to use (simple documents were sent). Built within a php environment, really meant I got to grips in all levels. I’m no PHP developer, but I can handle seeing a lot more of it after this. A* project for this!</p>
      </div>       
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}