{% layout "alternative" %}
{% block content %} 
 
                <header class="clearfix">
                  <section id="home" data-speed="4" data-type="background">
                    <div class="row">
                     <div class="twelve columns">
                     <h1 class="mainh1 hide-for-small">Argos<span class="darkgray">Spain</span></h1>
                     </div>
                     </div>
                  </section>

                <section class="contentnopad">
                <div style="background: blue; padding: 40px 0;">
                  <div class="row">
                     <div class="twelve columns">
                        <h2>About the project</h2>
                        <p class="intro">Argos is the UK's leading digital and in store retailer, I am sure sometime in your childhood you have been in there – trying to work out how many pens you can cram into your pocket <del>I got 5 before my mum noticed</del>! </p>
                        <p>On average the stores (740 of them) and online services, serves around 130 million customers a year.</p>
                        <p>The need was to design and build a website, answering to the Spain users of Argos (Ex Pats to be exact).</p>
                     </div>

                  </div>
                  </div>
                  <!--.row-->
               </section>                 

    
{% endblock %}