{% layout "alternative" %}
{% block title %}Michael Cattell : Work - Digital Designer and coder, contact me to work on your brilliant projects!{% endblock %}
{% block content %} 

<section class="aboutintro">
  <div class="contentholder40">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mediummaintitle white">I am currently: <span class="green">Available</span>.</h1>
        <p class="intro">I would love to discuss your project with you, no matter its state of existence, concept, or budget - give me a holler below!</p>
      </div>
    </div>
  </div>
</section>

 <section class="contentnobg" style="display: none;">
    <div class="contentinternalpad40top0bottom">
       <div class="row">
          <div class="twelve columns">
            <h1 class="title animated fadeIn">Let's talk</h1>
            <h2 class="standardh2 animated fadeInDown">I am currently: <span class="green FadeInLeft"><strong>Available</strong>.</h2>
            <p class="intro">If you have a project that you think would be great, magical and just downright brilliant, or even if it's not (I'm yet to find anyone with a bad idea), I’d love to hear from you, all you need to do is fill in this handy form below!</p>
          </div>
        </div>
    </div>
 </section>

<section id="contact_form" class="contentinternalpad">
   
      <form action="contact.php" method="post">
         <div class="row">
            <div class="twelve columns">
               <h3 class="substyle">1. Tell me a bit about you.</h3>
            </div>
         </div>
         <div class="row">
            <div class="twelve columns">
               <input id="name" type="text" placeholder="Name" value="" name="mc_name" />
               <input id="email" name="mc_email" type="email" placeholder="Email address">
            </div>
            <div class="height5"></div>
         </div>
         <div class="row">
            <div class="twelve columns">
               <h3 class="substyle">2. What can I do for you?</h3>
            </div>
         </div>
         <div class="row">
            <div class="twelve columns">
               <input id="subject" name="mc_subject" type="text" placeholder="Subject" style="width: 100%">
            </div>
         </div>
               

         <div class="row">
            <div class="twelve columns">
                <textarea id="message" name="mc_message" placeholder="Your Message"></textarea>
            </div>
         </div>
         <div class="height5"></div>
         <div class="row">
            <div class="twelve columns submit-field">
            <button id="contact-submit" type="submit" value="Send" class="bigblue button">Send</button>

               <div class="clear"></div>
            </div>
         </div>
      </form>

</section>
<section class="hide-for-small">
    <div class="twelve columns" style="padding-left: 0; padding-right: 0;">
      <!-- Google Map -->
      <div id="map-area">
        <div class="map" id="map_1" data-mapLat="51.911475" data-mapLon="-1.461815" data-mapZoom="11" data-mapTitle="Your Title"></div>
      </div>
      <!-- End Google Map -->
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=&amp;hl=en&amp;geocode=&amp;aq=2&amp;oq=doncaster&amp;sll=53.49785,-1.851196&amp;sspn=0.851206,3.4552&amp;mra=mr&amp;ie=UTF8&amp;t=m&amp;ll=53.548467,-1.128845&amp;spn=0.571153,1.167297&amp;z=9&amp;output=embed"></iframe>
    </div>
</section>
<div class="clear"></div>
<section class="getintouch">
  <div class="row">
    <h3 class="substyle white">Say Hello</h3>
    <p class="intro white">I'd love to hear from you, if you have any questions, or whether you just want a chat - either follow me on twitter, have a look on LinkedIn or simply send me an email.</p>
    <ul>
      <li><a href="http://twitter.com/mikeycattell" title="Follow us on Twitter" target="_blank"><img src="{{ "twitter_icon_contact.png" | asset_url }}" alt="Michael Cattell Home Icon" /></a></li>
      <li><a href="http://uk.linkedin.com/pub/michael-cattell/18/919/6a" title="check me out on LinkedIn"><img src="{{ "linkedin_icon_contact.png" | asset_url }}" alt="Michael Cattell Home Icon" /></a></li>
      <li class="last end"><a href="mailto:hello@michaelcattell.com?subject=Enquiry%20from%MichaelCattell.com%20" title="Send me an email - hello@michaelcattell.com"><img src="{{ "mail_icon_contact.png" | asset_url }}" alt="Michael Cattell Home Icon" /></a></li>
    </ul>
  </div>
</section>

{% include "footer" %} 

{% endblock %}