{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/daxon/daxon_opening.jpg">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro">A company specializing in selling cars and servicing cars for the past 30 years.</p>
          <p class="intro">They wanted something a little different, something funky and stand out from the others – i think I achieved this!</p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
  <img src="assets/images/portfolio/daxon/daxon_layout.jpg">
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}