{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
    {{ "daxon_opening.jpg" | asset_url | image_tag }}
  </section>
</header>


<section class="contentinternalpadeven whitebackground">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.daxon.co.uk" title="view daxon website here">www.daxon.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven whitebackground fadeInImg animated">
  {{ "daxon_layout.jpg" | asset_url | image_tag }}
</section>
{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}