{% layout "work" %}
{% block content %}
  <section>
  <section class="fixermargin">
    <img src="{{ "daxon_opening.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />    
  </section>
</header>


<section class="contentinternalpadeven whitebackground">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.daxon.co.uk" title="view daxon website here">www.daxon.co.uk</a></p>
          <p class="intro">Daxon is part of Redcats, which is the 3rd largest home shopping organisation in the world.</p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven whitebackground">
  <div class="row width1100">
    <img src="{{ "daxon_layout.jpg" | asset_url }}" alt="Michael Cattell Home Icon" id="object"/>      
  </div>
</section>

{% include "otherwork" %} 
{% include "footer" %} 
<script>
$(window).scroll(function() {

      $('#object').each(function(){
      var imagePos = $(this).offset().top;
      
      var topOfWindow = $(window).scrollTop();
        if (imagePos < topOfWindow+400) {
          $(this).addClass("animate fadeInImg start");
        }
      });   
        
    }); 
</script> 
{% endblock %}