{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section class="fixermargin">
    <img src="{{"hotelsinleedsopen.jpg" | asset_url }}" alt="Michaessssl Cattell Home Icon" />
  </section>
</header>

<section class="contentinternalpadeven whitebackground">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.hotelsinleeds.org/" title="view hotels in leeds website here">www.hotelsinleeds.org</a></p>
        </div>
    </div>
</section>
 
<span class="nextPagi">
  <a rel="prev" href="michaelandemmasayido" title="click here to see Michael and Emma Say I Do case study">Michael and Emma Say I Do</a>
</span>
<span class="prevPagi">
  <a rel="next" href="rotherhamtitans" title="click here to see Rotherham Titans Rugby Club work"">Rotherham Titans Rugby Club</a>
</span> 

<section class="contentinternalpadeven whitebackground preview fadeIn">
      {{ "hotelsinleeds_layout.jpg" | asset_url | image_tag }}
</section>
{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}