{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
    {{ "hotelsinleedsopen.jpg" | asset_url | image_tag }}
  </section>
</header>

<section class="contentinternalpadeven whitebackground">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.hotelsinleeds.org/" title="view hotels in leeds website here">www.hotelsinleeds.org</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven whitebackground fadeInImg animated">
      {{ "hotelsinleeds_layout.jpg" | asset_url | image_tag }}
</section>
{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}