{% block title %}Freelance Digital Designer and Front-end Developer based in Yorkshire, England - Michael Cattell{% endblock %}

{% block content %}
<header>
   <section id="headtest" data-speed="4" data-type="background" >
      <div class="headtestpic">
         <div class="row">
            <div class="headerposition">
               <hgroup class="text-center">
                  <h1 class="maintitle animated fadeInLeft Big proximanovalight" style="">Digital Designer, <span style="color: #B5D2DB;">Coder.</span></h1>
                  <h3 class="standardh22 animated fadeInDown" style="color: #fff;font-size: 21px;text-align: center;"><b><strong>Creating, translating, building</strong> and unleashing your great ideas to the online world.</h3>
                  <div class="stuffsidoesholder">
                     <p>
                        <img src="{{ "stuffsidoes.png" | asset_url }}" alt="Michael Cattell Home Icon" width="560" height="65" />
                     </p>
                  </div>
               </hgroup>
            </div>
         </div>
      </div>
   </section>
</header>
<section class="aboutme contentinternalpadeven">
   <div class="row">
      <div class="twelve columns">
         <h2 class="introtitle">
            <span class="titleunderline">
            Hello there, I am Michael, a <span class="green">freelance digital designer</span> and <span class="green">front-end developer</span> working across <span class="green">Yorkshire, England</span>.
            </span>
         </h2>
      </div>
      <div class="height40"></div>
      <div class="six columns">
         <p class="intro">A freelance interactive digital designer with 10 years experience, I am ready to help you bring your digital world to life.</p>
         <p class="intro">Building your digital identity to a dynamic array of users, my designs are developed to work seamlessly across multiple device platforms. </p>
         <p class="intro">Taking your product from mental conception to reality, I will design and code your website to the needs of your audience. From brainstorming with you over a live or virtual cup of coffee, to phase designs, beta testing and its final release - I will produce what you need. </p>
      </div>
      <div class="six columns animated fadeInRight margintop25 hide-for-small">
         <div class="circleholder_whatido">
            <div class="circle simple">
               <span class="label">Simple</span>
            </div>
            <div class="circle pixel">
               <span class="label tech">Pixel</span>
            </div>
            <div class="circle perfection">
               <span class="label">Perfection</span>
            </div>
         </div>
      </div>
      <div class="six columns animated fadeInRight show-for-small">
         <img src="{{ "simplepixelperfection.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
      </div>
      <div class="twelve columns">
         <p class="intro">Our friendship won’t end either. I provide you with constant support throughout the entire process, including when your site has gone live (or you just can’t figure out what to have for dinner tonight).</p>
         <div class="availibilitybox">
            <p class="availabletext"><strong style="display: none;">If you are interested in working together I'm available for freelance projects: onsite or remote, contact details can be found<a href="contact" title="get in touch to discuss your project"> here!</a></strong><strong>Currently, I am available to work - either onsite or remote.</strong><br>Regardless of your budget, requirements, or location, <a href="contact" title="get in touch">get in touch</a> and we’ll see if we can work something out!</p>
         </div>
      </div>
   </div>
</section>


{% include "footer" %} 
{% endblock %}