{% block content %}

<header class="clearfix">
  <section id="mast" data-speed="4" data-type="background" >
    <div class="row">
      <div class="headerposition">
      <hgroup class="text-center">
        <h1 class="mainh11 animated fadeInLeft Big" style=" text-transform: uppercase;">I am a Digital Designer, who makes that web stuff simple</h1>
        <h3 class="standardh22 animated fadeInDown">Designing websites, apps and emailers since the old days: 2003.<br>Based in Yorkshire, England.</h3>

        <div class="color-7" id="btn-click">
          <p>
            <a href="tel:+44077851848" class="whitebuttonmast">Phone</a>
            <a href="contact" class="whitebuttonmast">Email</a>
          </p>
        </div>

        <a class="animated fadeIn whitebuttonhome" href="contact" title="Got work and need a designer/coder? Get in touch!" style="display: none;">Available for work!</a>
       </hgroup>
      </div>
    </div>
  </section>
</header>

<section class="contentinternalpadeven">
  <div class="row">  

    <div class="twelve columns">
        <h2 class="introtitle">
          <span class="titleunderline">
            Hi there, I am Michael, a <span class="green">freelance digital designer</span> and <span class="green">front-end developer</span> working across <span class="green">Yorkshire</span>, <span class="green">The Midlands</span> and <span class="green">America</span>.
          </span>
        </h2> 
    </div>

    <div class="height40"></div>

    <div class="seven columns" style="padding-top: 5px;">
          <p class="intro">As you have guessed, I am a freelance interactive digital designer with 10 years experience. I have a passion for creating beautiful, intuitive, and highly crafted solutions combining a considered approach with emerging technologies.</p>
          <p class="intro">My experiences range from designing web sites and emails to doing the odd mobile application design.</p>
          <div class="height25"></div>
          <p class="intro">If you are interested in working together I'm available for freelance projects: contract or direct client - onsite or remote, contact details can be found<a href="contact" title="get in touch to discuss your project"> here!</a> </p>
    </div>
    <div class="five columns animated fadeInRight">


      <a class="box" href="about" title="Want to know more about me? Click here"> 
      <img src="{{"michaelcattell.jpg" | asset_url }}" alt="A handy picture of me, but in gray..'cos well all cool designers do this." />
      <p class="plus">Designer<br>Front-end Developer<br>Music Lover<br>Dog Owner<br><span class="darktxt"><del>Funny Man</del></span></p></a>
    </div>


  </div>  

</section>

{% include "otherwork" %}  

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}