{% block content %}
<header class="clearfix">
  <section id="home">
    <div class="row">
      <div class="headerposition">
      <hgroup>
        <h1 class="mainh11 animated fadeIn Big">Creative thinker, Code tinker & Coffee drinker</h1>
        <h2 class="standardh22 animated fadeInDown">Freelancer: UK and USA</h2>
        <a class="animated fadeIn greenbuttonhome" href="contact" title="Got work and need a designer/coder? Get in touch!">Available for work!</a>
       </hgroup>
      </div>
    </div>
  </section>
</header>

{% include "otherwork" %} 

<section class="contentnobg">
  <div class="row">    
    
    <div class="eight columns">
      <h2>Meet me</h2>
      <br>
      <p class="intro">Hi there, I am Michael, a freelance digital designer and front-end developer working across Yorkshire and America. Mostly working with Agencies as well as Start ups and Small Businesses.</p>
      <p class="intro">As of October 2013, I will be joining the world of freelance design and build, focusing on designing and developing experiences, so feel free to <a href="contact" title="get in touch for me to design some magic">get in touch</a> to discuss your plans and get excited!</p>
    </div>

    <div class="four columns fadeInImg">
      <a class="box" href="about" title="Want to know more about me? Click here"> 
      <img src="{{"megray.jpg" | asset_url }}" alt="item" />
      <p class="plus">Designer<br>Front-end Developer<br>Music Lover<br>Dog Owner<br><span class="darktxt"><del>Funny Man</del></span></p></a>
    </div>      

  </div>
</section>
    
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js"></script>
{% endblock %}