{% block content %}
<header class="clearfix">
  <section id="home" data-speed="4" data-type="background">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mainh1">User Interface <span class="darkgray">Designer</span> &<br>
          Front-end <span class="darkgray">< /Developer></span></h1>
      </div>
    </div>
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="eight columns">
          <div id="purchaseLink" class="purchase show-for-small "> <a href="contact" title="" class="bigred button" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 18px 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a> </div>
          <h2>Meet me</h2>
          <p class="intro"> Well hello there, I’m Michael (often known as Mikey), for those of you that I haven’t met yet, I’m a friendly <del>and often funny</del> User Interface Designer and Front-end Developer from England, currently living in California, America.</p>
          <p class="intro">I am an experienced designer, with a love to travel and go where I'm needed to help people build product, this adaptability allows me to work with small to big agencies and start ups on a freelance basis based in UK and America, to assist in making the most of their web presence.</p>
          <p class="intro">I love my job: I have the pleasure of designing and building things for many different types of people (and sometimes <a href="http://www.pomsnotbombs.co.uk" title="visit the site of the most talked about dog..Ralph" target="_self">dogs</a>) and all for the love of the web. </p>
        </div>
        <div class="four columns meet-me end">
          <div id="purchaseLink" class="purchase hide-for-small"><a class="bigred button" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 18px 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>
          <span class="info-image">
          <div class="box"> <a href="about"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Designer<br>Front-end Developer<br>Music Listener<br>Fun Expert</p>
            </a> </div>
          </span>
        </div>
    </div>
</section>

  <section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <!-- Thumbnails -->
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">My latest work</h3>
      </div>
      
        <div class="nine columns">
          <p class="intro">Here is a few pieces of my work, there are more on my work page, where I have decided they belong!</p>
        </div>
          <div class="three columns end">
          <a href="work" title="see all my work!" class="bigblue button">See all my work</a>
          </div>  
      <div class="height10"></div>
    </div>
    <div class="row">
        <!-- Thumbnails start -->
        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">text on hover for box 1</p>
            </a> </div>
        </div>
        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">text on hover for box 1</p>
            </a> </div>
        </div>
        <div class="four columns work end">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">text on hover for box 1</p>
            </a> </div>
        </div>
    </div>

  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Writings</h3>
        <script src="http://feeds.feedburner.com/michaelcattell/ztcG?format=sigpro" type="text/javascript" ></script>
      </div>
    </div>
  </div>
</section>

<section>
<div class="lightgraybgstyle contentinternalpad">
<div class="row">
  <div class="twelve columns">
    <p class="" style="#fff; text-align: center; font-size: 18px;"><img src="assets/images/icons/twitter_icon.png">This t shirt im wearing is getting tighter and tighter..im not the Hulk, just hungry.</p>
  </div>
</div>
</section>

<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}