{% block content %}
<header class="clearfix">
  <section id="home">
    <div class="row">
      <div class="headerposition">
      <hgroup>
        <h1 class="mainh11 animated fadeIn Big">Creative thinker, Code tinker & Coffee drinker</h1>
        <h2 class="standardh22 animated fadeInDown">Freelancer: UK and USA</h2>
        <a class="animated fadeIn greenbuttonhome" href="contact" title="Got work and need a designer/coder? Get in touch!">Available for work!</a>
       </hgroup>
      </div>
    </div>
  </section>
</header>

{% include "otherwork" %} 

<section class="contentnobg">
  <div class="row">    
    
    <div class="eight columns">
      <h2>Meet me</h2>
      <br>
      <p class="intro">Hi there, I am Michael, a freelance digital designer and front-end developer working across Yorkshire and America. Mostly working with Agencies as well as Start ups and Small Businesses.</p>
      <p class="intro">As of <strong>November 2013</strong>, I will be joining the world of freelance design and build, working with agencies as well as start ups and small businesses.</p>
      <p class="intro">Interested in working with me? <a href="contact" title="get in touch to discuss your project">Tell me about your project.</a> </p>
    </div>

    <div class="four columns preview fadeInRight">
      <a class="box" href="about" title="Want to know more about me? Click here"> 
      <img src="{{"michaelcattell.jpg" | asset_url }}" alt="A handy picture of me, but in gray..'cos well all cool designers do this." />
      <p class="plus">Designer<br>Front-end Developer<br>Music Lover<br>Dog Owner<br><span class="darktxt"><del>Funny Man</del></span></p></a>
    </div>      

  </div>
</section>
    
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
var items=[".preview",".info"],bottomPadding=100;$("document").ready(function(){$(window).scroll(function(){$.each(items,function(e,t){$.each($(t),function(e,t){var n=Math.max($("body").scrollTop(),$("html").scrollTop());n+$(window).height()-bottomPadding>$(t).position().top?$(t).addClass("animated"):$(t).removeClass("animated")})})})});
</script>
{% endblock %}