{% layout "alternative" %}
{% block content %} 
{{ "lfm.css" | asset_url | stylesheet_tag }}
{{ "jquery.last.fm.js" | asset_url | script_tag }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script>  
   $('.albums').lfm({
   APIkey: 'mikey_cattell',
   User: '45e56e08be5bdd9117927163470ea232',
   Behavior: "hover", //or click
   limit: 20,     // 1 album - 50 albums
   period: "3month" //overall|7day|1month|3month|6month|12month
});
</script>
  

<div class="">
       <section class="contentnobg">
       <div class="content20">
        <!-- Thumbnails -->
        <div class="row">
          <div class="twelve columns">
            <h1 class="title">Somethings I like</h1>
          </div>
        </div>
      </div>   

<section>
  <div class="row">
  <div class="twelve columns">
     <p class="intro">I thought I would dump my likes here, so you get to know me a little better without taking me out for lunch.  </p>
      </div>
  </div>
</section>

<section>
  <div class="row">
  <div class="twelve columns">

<div style="height: 1000px">
<div class="albums"></div></div>
  </div>
  </div>
</section>


        <article>
        <div class="resumegreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">The most beautiful girl in the world</h2>
            <p class="intro">Without <a href="http://www.glamlifeofahousewife.com" title="">Emma</a>, I wouldn’t be living and doing what I love doing – so a huge thanks to the one and only.</p>
          </div>
        </div>     
        </div>
        <ul data-orbit>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
        </ul>
        </article>

<style>
.orbit-bullets {}
.orbit-bullets li { background: #d6d6d6; text-align: center; }
.orbit-bullets li.active { background: none repeat scroll 0 0 #16A085; }
</style>

         <article>
        <div class="cheerfulgreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">Sorry, I cant hear you - got my earphones in</h2>
            <p class="intro">Ahh music - where would I be without it? Way behind on deadlines, and getting annoyed by outside noise.
            
            </p>

          </div>
        </div> 
        </div>    
        <img src="assets/images/interests/musicplayer.jpg" alt="" style="position: relative;" />
        </article>
      
        <article>
        <div class="visionarygreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Getting away from the desk</h2>
            <p class="intro">I like to read, no scratch that - I LOVE to read. Any recommendations are welcome, my tastes range from Utopia type fiction to self-teach (design orenated).</p>
          </div>
        </div>     
        </div>
        <img src="assets/images/workspace.jpg" alt="" />
        </article>
        
        <article>
        <div class="joyfulgreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Ralph</h2>
            <p class="intro">Named after the supermarket of the same name..or was the supermarket named after him?<br><strong>The best dog in the world. Pomeranian. Short. Fluffy. Bossy. Bestest.</strong></p>
          </div>
        </div>   
        </div>  
        <img src="assets/images/interests/ralph_greatestdogintheworld.jpg" alt="" />
        </article>        

      </section>
<style>
.orbit-bullets { display: none; }
</style>





{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}