{% layout "alternative" %}
{% block content %} 

<div class="">
       <section class="contentnobg">
       <div class="content20">
        <!-- Thumbnails -->
        <div class="row">
          <div class="twelve columns">
            <h1 class="title">Somethings I like</h1>
          </div>
        </div>
      </div>   

<section>
  <div class="row">
  <div class="twelve columns">
     <p class="intro">I thought I would dump my likes here, so you get to know me a little better without taking me out for lunch.  </p>
      </div>
  </div>
</section>

        <article>
        <div class="" style="background: #CBC2A5;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">The most beautiful girl in the world</h2>
            <p class="intro">Without <a href="http://www.glamlifeofahousewife.com" title="">Emma</a>, I wouldn’t be living and doing what I love doing – so a huge thanks to the one and only.</p>
          </div>
        </div>     
        </div>
         <img src="assets/images/interests/emma_background.jpg" alt="" />

        </article>

<style>
.orbit-bullets {}
.orbit-bullets li { background: #d6d6d6; text-align: center; }
.orbit-bullets li.active { background: none repeat scroll 0 0 #16A085; }
</style>

         <article>
        <div class="" style="background: #A7B99F;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">Sorry, I cant hear you - got my earphones in</h2>
            <p class="intro">Ahh music - where would I be without it? Way behind on deadlines, and getting annoyed by outside noise.</p>
          </div>
        </div> 
        </div> 
        <div style="position: relative; background-image: url(assets/images/interests/music_background.jpg); background-position: top left; height: 400px; padding: 50px 0">   
      <div class="row">
    <div class="twelve columns">
    <br>
      <ul class="block-grid four-up booksiread">
        <li>
          <a href="http://www.amazon.com/gp/product/0307463745/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0307463745" title="Rework" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-rework.jpg" alt="Rework"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0307463745" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Rework</h4>
          <p><small>by Jason Fried and David Hansson</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/0787960756/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0787960756" title="The Five Dysfunctions of a Team" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-the-five-dysfunctions-of-a-team.jpg" alt="The Five Dysfunctions of a Team"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0787960756" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The Five Dysfunctions of a Team</h4>
          <p><small>by Patrick Lencioni</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/1591843790/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1591843790" title="Enchantment" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-enchantment.jpg" alt="Enchantment"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=1591843790" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Enchantment</h4>
          <p><small>by Guy Kawasaki</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/0307465357/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0307465357" title="The 4-Hour Workweek" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-the-4-hour-workweek.jpg" alt="The 4-Hour Workweek"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0307465357" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The 4-Hour Workweek</h4>
          <p><small>by Timothy Ferriss</small></p>
        </li>
      </ul>
    </div>
  </div>
  </div>
        </div>


        </article>
      
        <article>
        <div class="" style="background: #83BFA3;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Getting away from the desk</h2>
            <p class="intro">I like to read, no scratch that - I LOVE to read. Any recommendations are welcome, my tastes range from Utopia type fiction to self-teach (design orenated).</p>
          </div>
        </div>     
        </div>
   <div class="row">
    <div class="twelve columns">
    <br>
      <ul class="block-grid four-up booksiread">
        <li>
          <a href="http://www.amazon.com/gp/product/0307463745/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0307463745" title="Rework" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-rework.jpg" alt="Rework"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0307463745" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Rework</h4>
          <p><small>by Jason Fried and David Hansson</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/0787960756/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0787960756" title="The Five Dysfunctions of a Team" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-the-five-dysfunctions-of-a-team.jpg" alt="The Five Dysfunctions of a Team"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0787960756" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The Five Dysfunctions of a Team</h4>
          <p><small>by Patrick Lencioni</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/1591843790/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1591843790" title="Enchantment" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-enchantment.jpg" alt="Enchantment"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=1591843790" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Enchantment</h4>
          <p><small>by Guy Kawasaki</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/gp/product/0307465357/ref=as_li_ss_tl?ie=UTF8&tag=jonsuhcom-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0307465357" title="The 4-Hour Workweek" target="_blank"><img src="http://www.jonsuh.com/assets/about/book-the-4-hour-workweek.jpg" alt="The 4-Hour Workweek"/><img src="http://www.assoc-amazon.com/e/ir?t=jonsuhcom-20&l=as2&o=1&a=0307465357" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The 4-Hour Workweek</h4>
          <p><small>by Timothy Ferriss</small></p>
        </li>
      </ul>
    </div>
  </div>
        </article>
        
        <article>
        <div class="" style="background: #EDCBB0;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Ralph</h2>
            <p class="intro">Named after the supermarket of the same name..or was the supermarket named after him?<br><strong>The best dog in the world. Pomeranian. Short. Fluffy. Bossy. Bestest.</strong></p>
          </div>
        </div>   
        </div>  
        <img src="assets/images/interests/ralph_background.jpg" alt="" />
        </article>        

      </section>
<style>
.orbit-bullets { display: none; }
</style>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}