{% layout "alternative" %}
{% block content %} 
<div class="text-center">
       <section class="contentnobg">
       <div class="content20">
        <!-- Thumbnails -->
        <div class="row">
          <div class="twelve columns">
            <h1 class="title">Somethings I like</h1>
          </div>
        </div>
      </div>   

<section>
  <div class="row">
  <div class="twelve columns">
     <p class="intro">I thought I would dump my likes here, so you get to know me a little better without taking me out for lunch.  </p>
      </div>
  </div>
</section>

        <article>
        <div class="resumegreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">The most beautiful girl in the world</h2>
            <p class="intro">Without <a href="http://www.glamlifeofahousewife.com" title="">Emma</a>, I wouldn’t be living and doing what I love doing – so a huge thanks to the one and only.</p>
          </div>
        </div>     
        </div>
        <ul data-orbit>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
          <li data-orbit-slide>
                <img src="assets/images/interests/emma_mybeautifulwife.jpg" alt="" />
          </li>
        </ul>
        </article>

<style>
.orbit-bullets {}
.orbit-bullets li { background: #d6d6d6; text-align: center; }
.orbit-bullets li.active { background: none repeat scroll 0 0 #16A085; }
</style>

         <article>
        <div class="cheerfulgreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">Sorry, I cant hear you - got my earphones in</h2>
            <p class="intro">Ahh music - where would I be without it? Way behind on deadlines, and getting annoyed by outside noise.
 <div id="test"></div>
            </p>

<script type="text/javascript">

  $(document).ready(function () {

  // Please use your own API key !
  $('#test').lastfm('mikey_cattell','recenttracks','2feb272914a6d006227ae3e551aac993', {
    noimage: 'noimage.gif'
  });
});
</script>

          </div>
        </div> 
        </div>    
        <img src="assets/images/interests/music_background.jpg" alt="" />
        </article>
      
        <article>
        <div class="visionarygreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Getting away from the desk</h2>
            <p class="intro">I like to read, no scratch that - I LOVE to read. Any recommendations are welcome, my tastes range from Utopia type fiction to self-teach (design orenated).</p>
          </div>
        </div>     
        </div>
        <img src="assets/images/workspace.jpg" alt="" />
        </article>
        
        <article>
        <div class="joyfulgreen listofdoanddont">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Ralph</h2>
            <p class="intro">Named after the supermarket of the same name..or was the supermarket named after him?<br><strong>The best dog in the world. Pomeranian. Short. Fluffy. Bossy. Bestest.</strong></p>
          </div>
        </div>   
        </div>  
        <img src="assets/images/interests/ralph_greatestdogintheworld.jpg" alt="" />
        </article>        

      </section>
<style>
.orbit-bullets { display: none; }

</style>
<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

      <section class="contentnopad">
        <div style="background: #101010;">
          <div class="row">
            <div class="six columns">
              <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
                to drop me an email</p>
            </div>
            <div class="six columns text-right">
              <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
                project feel free to drop me an email</p>
            </div>
          </div>
        </div>
      </section>

</div>
    <!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}