{% layout "alternative" %}
{% block content %} 

<div class="">
       <section class="contentnobg">
       <div class="content20">
        <!-- Thumbnails -->
        <div class="row">
          <div class="twelve columns">
            <h1 class="title">Somethings I like</h1>
          </div>
        </div>
      </div>   

<section>
  <div class="row">
  <div class="twelve columns">
     <p class="intro">I thought I would dump my likes here, so you get to know me a little better without taking me out for lunch.  </p>
      </div>
  </div>
</section>

        <article>
        <div class="" style="background: #CBC2A5;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">The most beautiful girl in the world</h2>
            <p class="intro">Without <a href="http://www.glamlifeofahousewife.com" title="">Emma</a>, I wouldn’t be living and doing what I love doing – so a huge thanks to the one and only.</p>
          </div>
        </div>     
        </div>
         <img src="assets/images/interests/emma_background.jpg" alt="" />

        </article>

<style>
.orbit-bullets {}
.orbit-bullets li { background: #d6d6d6; text-align: center; }
.orbit-bullets li.active { background: none repeat scroll 0 0 #16A085; }
</style>

         <article>
        <div class="" style="background: #A7B99F;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standardh2 white">Sorry, I cant hear you - got my earphones in</h2>
            <p class="intro">Ahh music - where would I be without it? Way behind on deadlines, and getting annoyed by outside noise.</p>
          </div>
        </div> 
        </div> 
        <div style="position: relative; background-image: url(assets/images/interests/music_background.jpg); background-position: top left; height: 400px; padding: 50px 0">   
      <div class="row">
    <div class="twelve columns">
    <br>
      <ul class="block-grid four-up booksiread">
        <li>
          <a href="http://www.rdio.com/artist/Vampire_Weekend/album/Modern_Vampires_of_the_City/" title="Vampire Weekend - Modern Vampires of the City" target="_blank"><img src="assets/images/interests/vampireweekend.jpg" alt="vampire weekend modern vampires of the city"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Vampire Weekend</h4>
          <p><small>Modern Vampire of the City</small></p>
        </li>
        <li>
          <a href="http://www.rdio.com/artist/The_Weeknd/album/Trilogy/" title="The Weeknd - Trilogy" target="_blank"><img src="assets/images/interests/theweeknd.jpg" alt="the weeknd trilogy"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The Weeknd</h4>
          <p><small>Trilogy</small></p>
        </li>
        <li>
          <a href="http://www.rdio.com/artist/Incubus/album/Morning_View_1/" title="Incubus - Morning View" target="_blank"><img src="assets/images/interests/incubus.jpg" alt="Incubus - Morning View"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Incubus</h4>
          <p><small>Morning View</small></p>
        </li>
        <li>
          <a href="http://www.rdio.com/artist/Panic!_At_The_Disco/album/Pretty._Odd./" title="Panic! At The Disco - Pretty. Odd." target="_blank"><img src="assets/images/interests/panicatthedisco.jpg" alt="Panic! At The Disco - pretty odd"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Panic! At The Disco</h4>
          <p><small>Pretty. Odd.</small></p>
        </li>
      </ul>
    </div>
  </div>
  </div>
        </div>


        </article>
      
        <article  style="background: #83BFA3;">
        <div class="">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Getting away from the desk</h2>
            <p class="intro">I like to read, no scratch that - I LOVE to read. Any recommendations are welcome, my tastes range from Utopia type fiction to self-teach (design orenated).</p>
          </div>
        </div>     
        </div>
   <div class="row"">
    <div class="twelve columns">
    <br>
      <ul class="block-grid four-up booksiread">
        <li>
          <a href="http://www.amazon.com/1984-60th-Anniversary-Edition-George-Orwell/dp/0452262933/ref=sr_1_1?ie=UTF8&qid=1377376853&sr=8-1&keywords=1984" title="1984" target="_blank"><img src="assets/images/interests/1984.jpg" alt="1984"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Nineteen Eighty-Four</h4>
          <p><small>George Orwell</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/Design-Is-Job-Mike-Monteiro/dp/1937557049/ref=sr_1_1?ie=UTF8&qid=1377381457&sr=8-1&keywords=design+of+a+job" title="design is a job" target="_blank"><img src="assets/images/interests/designisajob.jpg" alt="design is a job"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Design is a job</h4>
          <p><small>Mike Monterio</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/The-Catcher-Rye-J-D-Salinger/dp/0316769487/ref=sr_1_1?ie=UTF8&qid=1377381551&sr=8-1&keywords=the+catcher+in+the+rye" title="the catcher in the rye" target="_blank"><img src="assets/images/interests/catcherinrye.jpg" alt="the catcher in the rye"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>The Catcher in the Rye</h4>
          <p><small>J. D. Salinger</small></p>
        </li>
        <li>
          <a href="http://www.amazon.com/Hardboiled-Web-Design-Andy-Clarke/dp/1907828001/ref=sr_1_1?ie=UTF8&qid=1377381921&sr=8-1&keywords=hardboiled+web+design" title="Hardboiled Web Design" target="_blank"><img src="assets/images/interests/hardboiled.jpg" alt="Hardboiled Web Design"><img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
          <h4>Hardboiled Web Design</h4>
          <p><small>Andy Clarke</small></p>
        </li>
      </ul>
    </div>
  </div>
        </article>
        
        <article>
        <div class="" style="background: #EDCBB0;">
        <div class="row">
          <div class="twelve columns white">
            <h2 class="standard white">Ralph</h2>
            <p class="intro">Named after the supermarket of the same name..or was the supermarket named after him?<br><strong>The best dog in the world. Pomeranian. Short. Fluffy. Bossy. Bestest</strong>. You really should see his <a href="http://www.pomsnotbombs.co.uk" title="poms not bombs!">website</a></p>
          </div>
        </div>   
        </div>  
        <img src="assets/images/interests/ralph_background.jpg" alt="" />
        </article>        

      </section>
<style>
.orbit-bullets { display: none; }
</style>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}