{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/intraining/intraining_opening.jpg">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.intraining.co.uk/" title="view intraining website here">www.intraining.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
  <img src="assets/images/portfolio/intraining/intraining_layout.jpg">
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}