{% block content %}
<header class="clearfix">
  <section class="fixermargin">
    {{ "intraining_opening.jpg" | asset_url | image_tag }}
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.intraining.co.uk/" title="view intraining website here">www.intraining.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven fadeInImg animated">
  <div class="row width1100">
    {{ "intraining_layout.jpg" | asset_url | image_tag }}
  </div>
</section>

{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 

{% endblock %}