{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/smallpeeps/smallpeeps_opening.png">
  </section>
</header>


<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://michaelandemmasayido.com/" title="view michael and emma say i do here">www.michaelandemmasayido.com</a></p>
          <p class="intro">Wedding websites – they are all the rage, and I kinda can see why, and of course I guess having the groom as a web designer it would be the thing to do…</p>
          <p class="intro">Special day needed a place for the guests to visit for information for the day and night – and I was happily able to provide it!</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Well..all of it.</p>
      </div>
      <div class="six columns">
          <img src="assets/images/portfolio/smallpeeps/smallpeeps_role.png">

      </div>      
    </div>
  </div>
</section>

<section class="content">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Green to be meaaaaaaanful</h3>
        <p class="intro">We picked green to be our wedding colour, so I incorporated it as often and little as possible – without making It super obvious and all “WE PICKED GREEN”!</p>        
      </div> 
    </div>
  </div>
</section>

<section class="contentnopad">
  <img src="assets/images/portfolio/smallpeeps/smallpeeps_layout.jpg">
</section>


<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Straight HTML/CSS site – simply built and put live in 24 hours. </p>
        <pDisclaimer – I shall be revisiting this site to update the look and pictures to make it responsive and a blog of our ‘happily ever after’ life.</p>
      </div>
     </div>
  </div>
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}