{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/mtcdirect/mtcdirect_opening.jpg">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro"><strong>Based in Bristol, a family based business which offers new and used cars for sale. </strong></p>
          <p class="intro">Brief was simple – a car site which offers the user quick access to cars, easy to use and looks good!</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">I had the full roles of being the designer and the front-end developer.</p>
      </div>
      <div class="six columns">
         <img src="assets/images/portfolio/mtcdirect/mtcdirect_layout.jpg">
      </div>      
    </div>
  </div>
</section>

<section class="contentnopad">
  <img src="assets/images/portfolio/mtcdirect/mtcdirect_layout.jpg">
</section>

<section class="content">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">Each page was designed to ensure the user can quickly access the contact information to call up and seal the deal!</p>
      </div> 
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Build within a php framework (pre-existing), but I am happy with how it turned out (if that is ever possible for a perfectionist!) (same php framework as <a href="nathanielcars" title="click here to see a nathaniel cars">Nathaniel Cars)</p>
      </div>
   
    </div>
  </div>
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}