{% block content %}
<header class="clearfix">
  <section class="fixermargin">
    {{ "nathaniel_opening.jpg" | asset_url | image_tag }}
  </section>
</header>


<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.nathanielcars.co.uk" title="view nathanielcars website here">www.nathanielcars.co.uk</a></p>
          <p class="intro">A company specializing in selling cars and servicing cars for the past 30 years.</p>
          <p class="intro">They wanted something a little different, something funky and stand out from the others – i think I achieved this!</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Design and build was the order of the day, managing copy needed for the pages and then applying it all for a prompt delivery.</p>
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">As previously stated, the client wanted something that stood out from the others, I worked hard to make it usable, attractive and not so pushy as most car dealers.</p>        
      </div>
      <div class="six columns preview fadeIn">
         {{ "nathaniel_role.jpg" | asset_url | image_tag }}
      </div>          
    </div>
  </div>
</section>

<section class="contentinternalpadeven preview fadeIn">
  {{ "nathaniel_layout.jpg" | asset_url | image_tag }}
</section>


<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Build within a php framework (pre-existing), but I am happy with how it turned out (if that is ever possible for a perfectionist!). (same php framework as <a href="mtcdirect" title="click here to see a MTC Direct cars">Nathaniel Cars</a>)</p>
      </div>
   
    </div>
  </div>
</section>
{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}