{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/nathanielcars/nathaniel_opening.jpg">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro">A company specializing in selling cars and servicing cars for the past 30 years.</p>
          <p class="intro">They wanted something a little different, something funky and stand out from the others – i think I achieved this!</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Design and build was the order of the day, managing copy needed for the pages and then applying it all for a prompt delivery.</p>
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">As previously stated, the client wanted something that stood out from the others, I worked hard to make it usable, attractive and not so pushy as most car dealers.</p>        
      </div>
      <div class="six columns">
         <img src="assets/images/portfolio/nathanielcars/nathaniel_role.jpg">
      </div>          
    </div>
  </div>
</section>

<section class="contentinternalpadeven">
  <img src="assets/images/portfolio/nathanielcars/nathaniel_layout.jpg">
</section>

<section class="contentnopad" style="display: none">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <p>qweqweqwe</p>
      </div>    
      <div class="six columns">
        <h3 class="standardh3">Sketch it out first</h3>
        <p>If any designer tells you they go from head to PS/Fireworks never believe them! I work my way through many pens, as im always scribbling the layout. Here you can see the design didn’t really change from the 1st scribble.</p>
      </div>
      <div class="six columns">
        <p>qweqweqwe</p>
      </div>         
     </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Build within a php framework (pre-existing), but I am happy with how it turned out (if that is ever possible for a perfectionist!). (same php framework as <a href="mtcdirect" title="click here to see a MTC Direct cars">Nathaniel Cars</a></p>
      </div>
   
    </div>
  </div>
</section>


<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}