{% block content %}
<header class="clearfix">
  <section>
    {{ "pomsnotbombs_opening.jpg" | asset_url | image_tag }}
  </section>
</header>


<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.pomsnotbombs.co.uk" title="view pomsnotbombs website here">www.pomsnotbombs.co.uk</a></p>
          <p class="intro">Who am I kidding calling this a project? Shamelessly somewhere to post pictures of my sweet pooch Ralph!</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns animated fadeInLeftBig">
        {{ "pomsnotbombs_layout.png" | asset_url | image_tag }}
      </div>       
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Design and up-keep of pictures, as you can see..not so much up-keep but I did enjoy the logo. Also was a nice way to keep my hands on Wordpress and check out any updates that I may of missed.</p>
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">Tumblog style on-top of Wordpress was all I requested.</p>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">The best dog in the world?</h3>
        <p style="font-size: 80px;">Yes.</p>
      </div>
      <div class="six columns pictureinright animated">
        {{ "pomsnotbombs_bestdog.png" | asset_url | image_tag }}
      </div>   
     </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">Thought of, url bought, logo designed, website mashed up, pictures taken = weekend.</p>
        <p class="intro">Future ideas: handbook for the lucky folks who will look after him whilst I travel (hint: feed him, he’s happier when full).</p>

      </div>
   
    </div>
  </div>
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}