{% layout "alternative" %}
{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/premierfoodsafety/premierfoodsafety_opening.png">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro"><strong>Food safety in America is a big business, all companies (food based – restaurants etc) need to have a trained food handler, this is where Premier Food Safety come in.</strong></p>
          <p class="intro">They are one of the largest and most reputable providers of food safety education in the United States, with 35+ years behind them and a client base which boasts of over 250,000 and counting and clients such as McDonalds, Panda Express and Subway.</p>
          <p class="intro">They needed planning, website, plus online training to be designed and built, slowly and gradually; so not to disrupt the current users – average traffic to the site is 600 users.</p>
        </div>
    </div>
</section>
 
<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
        <h3 class="standardh3">My Role</h3>
        <p class="intro">Lead Designer, showcasing and explaining modern techniques to the CEO of the company, ensuring a new brand direction to be kept consistent. Branding was reinvented and controlled in print, online and internally. </p>
      </div>
      <div class="six columns">
         <img src="assets/images/portfolio/premierfoodsafety/premierfoodsafety_myrole.png">
      </div>      
    </div>
  </div>
</section>

<section class="contentnopad">
  <img src="assets/images/portfolio/premierfoodsafety/premierfoodsafety_layout.jpg">
</section>

<section class="content">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">The Layout</h3>
        <p class="intro">Clean, simple and very assessable to all levels of users, with ages ranging from 16-80, male and female, entry level to management – we had to make all print and web work straightforward, which, for a product that can and is often accepted as being quite complicated, I think we achieved this.</p>
      </div> 
    </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="six columns">
          <img src="assets/images/portfolio/premierfoodsafety/premierfoodsafety_print.jpg">
      </div>         
      <div class="six columns">
        <h3 class="standardh3">Print is dead – not according to real companies</h3>
        <p class="intro">An important part of this company’s revenue is via incoming calls, sending out a flyer every quarter therefore is make or break – my task was to un-complicate quite a complicated flyer! I made the pricing as clear as possible, and also directed the user’s eye to right side of the flyer (the manager would look to the left as that bit is relevant, but the right side is more for the entry level employees).</p>
      </div>
     </div>
  </div>
</section>

<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Putting it all together</h3>
        <p class="intro">On-going project – to be finished before November 2013. Website to be built on a PHP framework, responsive, followed up with feedback sessions.</p>
      </div>
   
    </div>
  </div>
</section>


<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}