{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/rotherhamtitans/titanrugby_opening.jpg">
  </section>
</header>


<section class="contentnobg">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p class="intro">A company specializing in selling cars and servicing cars for the past 30 years.</p>
          <p class="intro">They wanted something a little different, something funky and stand out from the others – i think I achieved this!</p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
  <img src="assets/images/portfolio/rotherhamtitans/rotherhamtitans_layout.jpg">
</section>


<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>

<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>

<!--If you want to talk about design, my work, or what I had for breakfast, you can email me at dan.eden@me.com-->
{% endblock %}