{% layout "work" %}
{% block content %}
<header class="clearfix">
  <section class="fixermargin">
    <img src="{{ "titanrugby_opening.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
  </section>
</header>

<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.rotherhamrugby.co.uk" title="view rotherham titans website here">www.rotherhamrugby.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
    <div class="row width1100 fadeInImg animated">  
      <img src="{{ "rotherhamtitans_layout.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
    </div>
</section>

{% include "otherwork" %} 
{% include "footer" %} 
{% endblock %}