{% block content %}
<header class="clearfix">
  <section class="fixermargin">
    {{ "titanrugby_opening.jpg" | asset_url | image_tag }}
  </section>
</header>


<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.rotherhamrugby.co.uk" title="view rotherham titans website here">www.rotherhamrugby.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven preview fadeIn">
  {{ "rotherhamtitans_layout.jpg" | asset_url | image_tag }}
</section>
{% include "otherwork" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}