{% block content %}
<header class="clearfix">
  <section>
  <img src="assets/images/portfolio/rotherhamtitans/titanrugby_opening.jpg">
  </section>
</header>


<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.rotherhamrugby.co.uk/home/" title="view rotherham titans website here">www.rotherhamrugby.co.uk/home/</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
  <img src="assets/images/portfolio/rotherhamtitans/rotherhamtitans_layout.jpg">
</section>
 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}