{% layout "work" %}
{% block content %}
<header class="clearfix">
  <section>
    <img src="{{ "titanrugby_opening.jpg" | asset_url }}" alt="Michael Cattell Home Icon" />
  </section>
</header>

<section class="contentinternalpadeven">
    <div class="row">
        <div class="twelve columns">
          <h2>About the project</h2>
          <p><a href="http://www.rotherhamrugby.co.uk" title="view rotherham titans website here">www.rotherhamrugby.co.uk</a></p>
        </div>
    </div>
</section>
 
<section class="contentinternalpadeven">
    <div class="row width1100">  
      <img src="{{ "rotherhamtitans_layout.jpg" | asset_url }}" alt="Michael Cattell Home Icon" id="object"/>
    </div>
</section>

{% include "otherwork" %} 
{% include "footer" %} 
<script>
$(window).scroll(function() {

      $('#object').each(function(){
      var imagePos = $(this).offset().top;
      
      var topOfWindow = $(window).scrollTop();
        if (imagePos < topOfWindow+400) {
          $(this).addClass("animate fadeInImg start");
        }
      });   
        
    }); 
</script> 
{% endblock %}