{% layout "alternative" %}
{% block title %}Michael Cattell : Sitemap - Freelance Digital Designer, available for onsite and remote.{% endblock %}
{% block content %}

<section class="aboutintro">
  <div class="contentholder40">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mediummaintitle white">Sitemap</h1>
      </div>
    </div>
  </div>
</section>

<section class="contentinternalpad">
    <div class="row">
      <div class="six columns">
         <h2>Popular pages:</h2>
         <p><small>
         <a href="index" title="">Home</a><br>
         <a href="about" title="">About</a><br>
         <a href="work" title="">Work</a><br>
         <a href="contact" title="">Contact</a><br>
         <a href="">Blog</a><br>
         </small></p>
      </div>

      <div class="six columns">
         <h2>Work pages:</h2>
         <p><small>
         <a href="smallpeeps" title="">Small Peeps</a><br>
         <a href="apex" title="">Apex Workplace Solutions</a><br>
         <a href="pomsnotbombs" title="">Poms not Bombs</a><br>
         <a href="argos" title="">Argos</a><br>
         <a href="nathanielcars">Nathaniel Cars</a><br>
         <a href="mtcdirect" title="">MTC Direct</a><br>
         <a href="michaelandemmasayido" title="">Michael and Emma Say I Do</a><br>
         <a href="hotelsinleeds" title="">Hotels in Leeds</a><br>
         <a href="rotherhamtitans" title="">Rotherham Titans</a><br>
         <a href="intraining" title="">Intraining</a><br>         
         <a href="daxon" title="">Daxon</a><br>                  
         </small></p>
      </div>

   </div>
</section>

<section class="testimonials">
  
  <div class="row">
    <div class="twelve columns">
        <blockquote>"Having a quick and accurate designer on board is exactly what I required for the job in hand, and he delivered above and beyond. He also coded the site, saving me time and effort. Would recommend Mikey to anyone looking for the complete package!"</blockquote>
        <cite class="testimonial__cite white"><strong>Guillermo Gette</strong> - Software Engineer</cite>
    </div>

  </div>
  
</section>

{% include "footer" %} 

{% endblock %}