{% layout "alternative" %}
{% block content %}
<section class="contentnobg">
  <div class="contentinternalpadeven">
    <!-- Thumbnails -->
    <div class="row">
      <div class="twelve columns">
        <div id="purchaseLink" class="purchase show-for-small"> <a class="bigredbutton" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>
        <h1 class="title">My Work</h1>
        <p class="intro">Here is a bucket load of my work, there have been many more  but what’s the point of showing you it all – a man needs mystery / a man who knows websites from the 90s aren’t too wonderful.</p>
      </div>
    </div>

  
    <div class="row">
      <div class="twelve columns hide-for-small">
      <a class="bigredbutton" style=" background-color: #DA4F49;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>
      <div class="height10"></div>
    </div>
    <div class="row">
        <!-- Thumbnails start -->
        <div class="four columns work">
          <div class="box"> <a href="premierfoodsafety" title="view the case study for Premier Food Safety"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Premier Food Safety<br><span class="darktxt">Design, Build, Manage</span></p>
            </a>
          </div>
        </div>
        <div class="four columns work">
          <div class="box"> <a href="smallpeeps" title="view the case study for Premier Food Safety"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Small Peeps<br><span class="darktxt">Design, Build</span></p>
            </a>
          </div>
        </div>
        <div class="four columns work end">
          <div class="box"> <a href="apex" title="view the case study for Apex"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Apex Workplace Solutions<br><span class="darktxt">Design, Build, Consult</span></p>
            </a> </div>
        </div>
    </div>
        
        <div class="height10"></div>
     <div class="row">
        <!-- Thumbnails start -->
        <div class="four columns work">
          <div class="box"> <a href="pomsnotbombs" title="view the case study for Poms not Bombs"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Poms not Bombs<br><span class="darktxt">Design, Build, Feeder, Owner</span></p>
            </a>
          </div>
        </div>

        <div class="four columns work">
          <div class="box"> <a href="argos" title="view the case study for Argos-Spain"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Argos<br><span class="darktxt">Build</span></p>
            </a>
          </div>
        </div>

        <div class="four columns work end">
          <div class="box"> <a href="afittingcompany" title="view the case study for A Fitting Company"><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">A Fitting Company<br><span class="darktxt">Design, Build</span></p>
            </a>
          </div>
        </div>
    </div>
        <div class="height10"></div>
     <div class="row">
        <!-- Thumbnails start -->
        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Nathaniel Cars<br><span class="darktxt">Design, Build </span></p>
            </a>
          </div>
        </div>

        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Hotels in Leeds<br><span class="darktxt">Build</span></p>
            </a>
          </div>
        </div>

        <div class="four columns work end">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Rotherham Titans<br><span class="darktxt">Design, Build</span></p>
            </a>
          </div>
        </div>
    </div>    
        <div class="height10"></div>
    <div class="row">
        <!-- Thumbnails start -->
        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">NMTC Direct<br><span class="darktxt">Design, Build </span></p>
            </a>
          </div>
        </div>

        <div class="four columns work">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">inTraining<br><span class="darktxt">Build</span></p>
            </a>
          </div>
        </div>

        <div class="four columns work end">
          <div class="box"> <a href=""><img src="assets/images/meetmepicture.jpg" />
            <p class="plus">Daxon<br><span class="darktxt">Design, Build</span></p>
            </a>
          </div>
        </div>

        <div class="twelve columns">
          <p class="smallpara">(A lot of the work I complete is unable to be shown here as it was for agencies / bonus material (for users who pay to use a service). I know a lot of people write this, but it is actually true, <i>pinky promise</i>).</p>
        </div>

    </div>
      </div>
      <div class="height15"></div>
      <!-- End Thumbnails -->
    </div>
  </div>
</section>


<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>


<section class="contentnopad">
  <div style="background: #101010;">
    <div class="row">
      <div class="six columns">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting project feel free<br>
          to drop me an email</p>
      </div>
      <div class="six columns text-right">
        <p class="" style="#fff; font-family: edmondsans; font-family: 30px;">If you have an exciting<br>
          project feel free to drop me an email</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}