<section class="contentnopad">
  <div class="contentholder60 darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you want to talk about a project you have in mind, a podcast to guest on, anything design related, or even my work, feel free to drop me an email.</p>
        <div class="text-center">
        	<a href="contact" class="whitebutton">Contact Me</a>
          <p class="white intro">Or call me on +44 (0)7925 460880</p>
        </div>
      </div>
      <div style="bottom: 0; height: 40px; position: absolute; right: 20px; width: 90px;"><a href="#homeslide" class="scrollTo"><img src="assets/images/icons/top.png"></a></div>
    </div>
  </div>
</section>