<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you want to talk about a project you have in mind, anything design related, my work, or my handsome little pooch, feel free to drop me an email.</p>
        <div class="text-center fadeInImg animated"> <a href="contact" class="bigwhite button">Contact Me</a> </div>
      </div>
      <div style="bottom: 0; height: 40px; position: absolute; right: 20px; width: 90px;"><a href="#homeslide" class="scrollTo"><img src="assets/images/icons/top.png"></a></div>
    </div>
  </div>
</section>