<section class="contentnopad">
  <div class="contentinternalpad darkgreen">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you have an exciting project, or if you want to talk about design, my work, or what I had for breakfast feel free to drop me an email</p>
        <div class="text-center"> <a href="contact" class="bigwhite button">Contact Me</a> </div>
      </div>
    </div>
  </div>
</section>