<section class="contentnopad">
  <div class="contentholder60 graypixelate">
    <div class="row">
      <div class="twelve columns">
        <p class="lookhere">If you want to talk about a project you have in mind, a podcast to guest on, anything design related, or even my work, feel free to drop me an email.</p>
      
          <p class="ctaSeparator"><span><a class="ulBtn" href="contact">Email Me</a></span></p>
          <p class="text-center intro">Or call me on +44 (0)7925 460880</p>


        <div class="text-center" style="display: none;">
        	<a href="contact" class="whitebutton">Contact Me</a>
          <p class="white intro">Or call me on +44 (0)7925 460880</p>
        </div>
      </div>
      <div style="bottom: 0; height: 40px; position: absolute; right: 20px; width: 90px;"><a href="#homeslide" class="scrollTo"><img src="assets/images/icons/top.png"></a></div>
    </div>
  </div>
</section>

<style>
.ctaSeparator {
/*background: url('http://www.upsidelearning.com/images/bg-h3.png') repeat-x left center;
color: #454545;
text-align: center;
margin: 3em 0 1em;
}
.ctaSeparator span {
  background: url('http://www.upsidelearning.com/images/bg-area-textured.gif');
display: inline-block;
padding: 0 15px;
}
.ulBtn {
background-color: #16A085; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-bottom: none !important; color: #fff !important; display: inline-block; font-size: 1.3em; line-height: 1.4 !important; padding: 20px 80px; margin-right: 20px; }
.ulBtn:hover { background-color: #097159 ; }

.ctaSeparator .greyLink {
margin-left: 0px;
background-color: transparent;
border-radius: 5px;
border: 1px solid #bbb;
color: #666 !important;
line-height: 1.4 !important;
padding: 20px 0px;
font-size: 1.3em;
border: 0;*/
}

</style>