<section role="contentinfo" class="position: relative">

  <div class="darkblack contentinternalpad">
    <div class="row">
      <div class="six columns">
        <p class="gray">Freelance Digital Designer and Front-end Developer<br>Based in <span class="white">Yorkshire , England. </span></p>
        <p>Call me on +44 (0)7925 460880 or send a <a href="http://www.twitter.com/mikeycattell" title="follow me on twitter at @mikeycattell">tweet</a> or <a href="mailto:hello@michaelcattell.com" title="drop me an email, i love um!">email</a>.</p>
      </div>
      <div class="six columns text-right end">
        <p class="gray" style="font-family: 30px;"><a class="white" href="mailto:hello@michaelcattell.com" title="drop me an email, i love um!">hello@michaelcattell.com</a><br><a href="http://www.twitter.com/mikeycattell" title="follow me on twitter at @mikeycattell"><img src="assets/images/icons/twitter_icon_.png"></a><a href="http://www.linkedin.com/pub/michael-cattell/18/919/6a/" title="look at my resume on linkedin"><img src="assets/images/icons/linkedin_icon.png">&nbsp;</a><a href="http://www.last.fm/user/mikey_cattell" title="check out my tunes on last fm, bad songs..blame the wife/dog/weather"><img src="assets/images/icons/lastfm_icon.png"></a>&nbsp;&nbsp;<a href="https://svpply.com/mikeycattell" title="view all my wants/needs on svpply!"><img src="assets/images/icons/sv_icon.png"></a>&nbsp;&nbsp;<a href="contact" title="send me an email via my contact form"><img src="assets/images/icons/mail_icon.png"></a></p>
      </div>
    </div>
  </div>
  
</section>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15536515-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

