<section>
  <div class="darkblack contentinternalpad">
    <div class="row">
      <div class="six columns">
        <p class="gray" style="font-family: 30px;">User Interface Designer and Front-end Developer<br>
          Based in <span class="white">California (USA)</span> and <span class="white">Yorkshire (UK)</span></p>
      </div>
      <div class="six columns text-right">
        <p class="gray" style="font-family: 30px;"><a class="white" href="mailto:hello@michaelcattell.com">hello@michaelcattell.com</a><br><a href="http://www.twitter.com/mikeycattell" title="follow me on twitter at @mikeycattell"><img src="assets/images/icons/twitter_icon_.png"></a><a href=""><img src="assets/images/icons/linkedin_icon.png">&nbsp;</a><a href=""><img src="assets/images/icons/lastfm_icon.png"></a>&nbsp;&nbsp;<a href=""><img src="assets/images/icons/sv_icon.png"></a>&nbsp;&nbsp;<a href=""><img src="assets/images/icons/mail_icon.png"></a></p>
      </div>
    </div>
  </div>
</section>