  <div id="homeslide"></div>
     <div class="cbp-af-header hide-for-small">
        <div class="cbp-af-inner">
           <a class="logoholder animated tada" href="index" title="Go to home page">
            {{ "michaelcattell_logo.png" | asset_url | image_tag }}</a>
           <nav>
              <a href="index" style="display: none;">Home</a>                     
              <a href="work">Work</a>
              <a href="about">About</a>
              <a href="blog">Writings</a>
              <a href="interests" style="display: none;">Interests</a>
              <a href="http://mikeycattell.tumblr.com/" title="see random pictures that i take..randomly">Pictures</a>
              <a href="contact">Contact</a>
           </nav>
        </div>
     </div>      

             
    <!-- mobile navigation -->
      <nav class="top-bar show-for-small">
      <ul class="title-area">
          
          <li style="background: transparent; float: left; padding: 5px 0 0;">
            <a class="logoholdermob animated tada" href="index" title="Go to home page">{{ "michaelcattell_logo_mob.png" | asset_url | image_tag }}</a>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#" style="color: #fff;"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <a href="index" style="display: none;">Home</a>                     
            <li><a href="work">Work</a></li>
            <li><a href="about">About</a></li>
            <li><a href="blog">Writings</a></li>
            <li><a href="http://mikeycattell.tumblr.com/" title="see random pictures that i take..randomly">Pictures</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </section>
      </nav>

    <!-- End Navigation -->

 
