<div id="homeslide"></div>
<!-- desktop navigation -->

<div class="cbp-af-header hide-for-small">
  <div class="cbp-af-inner">
     <a class="logoholder animated tada" href="index" title="Go to home page">
       <img src="{{ "michaelcattell_logo.png" | asset_url }}" alt="Michael Cattell Home Icon" />
     <nav>
        <a href="index" style="show-for-medium">Home</a>                     
        <a href="work">Work</a>
        <a href="about">About</a>
        <a href="blog">Writings</a>
        <a href="contact">Contact</a>
     </nav>
  </div>
</div>      
             
<!-- mobile navigation -->
<nav class="top-bar noise show-for-small">
  <ul class="title-area">
    
    <li style="background: transparent; float: left; padding: 5px 0 0;">
      <a class="logoholdermob animated tada" href="index" title="Go to home page">
        <img src="{{ "michaelcattell_logo_mob.png" | asset_url }}" alt="Michael Cattell Home Icon" />
      </a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#" style="color: #fff;"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <a href="index" style="display: none;">Home</a>                     
      <li><a href="work">Work</a></li>
      <li><a href="about">About</a></li>
      <li><a href="blog">Writings</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </section>
</nav>

<!-- End Navigation -->

<!-- Google Show -->
<div style="display:none" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">Michael Cattell</span>
  <a href="mailto:hello@michaelcattell">Michael Cattell</a>
  <a href="https://plus.google.com/103060910479200395110?rel=author">Google+</a>
  <img src="http://michaelcattell.com/assets/images/michaelcattell.jpg" alt="Michael Cattell" itemprop="image"/>
</div>
<!-- Google Show End -->    