<div id="homeslide"></div>

<!-- start of navigation -->

<div id="header" role="navigation" class="hide-for-small">
<div class="cbp-af-header" role="navigation">
  <div class="cbp-af-inner">    

    <div class="row">
      <a href="index"><div class="logo animated fadeIn" alt=""></div></a>
      <div id="menu">
        <li><a href="work" {% if mixture.url == "work" %}class="active"{% endif %}>work</a></li>        
        <li><a href="about" {% if mixture.url == "about" %}class="active"{% endif %}>about</a></li>
        <a href="contact"><button type="button" class="buttonheaddarkblue" {% if mixture.url == "contact" %}class="active"{% endif %}>get in touch</button></a>
      </div>
    </div>
  </div>
  </div>
</div>

<nav class="top-bar show-for-small" role="navigation">
  <ul class="title-area">
    
    <li class="logoholderformobile logoholderfixleft" >
       <a class="logoholdermob logoholdmobile"href="index" title="Go to home page"><img src="{{"mc_logo_mob.png" | asset_url }}" alt="" /></a>
    </li>
    <li class="toggle-topbar">
    <div class="margintop10">
          <a href="#"><span class="lines">Menu</span></a>
    </div>
      </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="work" {% if mixture.url == "work" %}class="active"{% endif %}>work</a></li>
      <li><a href="about" {% if mixture.url == "about" %}class="active"{% endif %}>about</a></li>
      <li><a href="contact" {% if mixture.url == "contact" %}class="active"{% endif %}>contact</a></li>
    </ul>
  </section>
</nav>

<!-- End Navigation -->

<!-- Google Show -->
<div style="display:none" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">Michael Cattell</span>
  <a href="mailto:hello@michaelcattell">Michael Cattell</a>
  <a href="https://plus.google.com/103060910479200395110?rel=author">Google+</a>
  <img src="http://michaelcattell.com/assets/images/michaelcattell.jpg" alt="Michael Cattell" itemprop="image"/>
</div>
<!-- Google Show End -->    