<div id="homeslide"></div>
<!-- desktop navigation -->

<div class="cbp-af-header gray hide-for-small" role="navigation">
  <div class="cbp-af-inner">
    <a class="logoholder animated wobble" href="index" title="Go to home page"><img src="{{"mc_logo_alt.png" | asset_url }}" alt="" /></a>     
     <nav>
        <a href="work" {% if mixture.url == "work" %}class="active"{% endif %}>WORK</a>
        <a href="about" {% if mixture.url == "about" %}class="active"{% endif %}>ABOUT</a>
        <a href="blog"{% if mixture.url == "blog" %}class="active"{% endif %}>JOURNAL</a>
        <a href="contact" {% if mixture.url == "contact" %}class="active"{% endif %}>CONTACT</a>
     </nav>
  </div>
</div>      
             
<!-- mobile navigation -->
<nav class="top-bar noise show-for-small" role="navigation">
  <ul class="title-area">
    
    <li style="padding: 5px 0 0;">
       <a class="logoholdermob" href="index" title="Go to home page"><img src="{{"mc_logo_mob.png" | asset_url }}" alt="" /></a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#" style="color: #fff;"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="work" {% if mixture.url == "work" %}class="active"{% endif %}>WORK</a></li>
      <li><a href="about">ABOUT</a></li>
      <li><a href="blog">JOURNAL</a></li>
      <li><a href="contact">CONTACT</a></li>
    </ul>
  </section>
</nav>

<!-- End Navigation -->

<!-- Google Show -->
<div style="display:none" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">Michael Cattell</span>
  <a href="mailto:hello@michaelcattell">Michael Cattell</a>
  <a href="https://plus.google.com/103060910479200395110?rel=author">Google+</a>
  <img src="http://michaelcattell.com/assets/images/michaelcattell.jpg" alt="Michael Cattell" itemprop="image"/>
</div>
<!-- Google Show End -->    