               <div class="cbp-af-header gray hide-for-small">
                  <div class="cbp-af-inner">
                        <div class="logoholder" ><a href="index" title="Go to home page"><img src="assets/images/icons/michaelcattell_logo.png"></a></div>
                     <nav>
                        <a href="work">Work</a>
                        <a href="about">About</a>
                        <a href="#">Writings</a>
                        <a href="interests">Interests</a>
                        <a href="http://mikeycattell.tumblr.com/" title="see random pictures that i take..randomly">Pictures</a>
                        <a href="contact">Contact</a>
                     </nav>
                  </div>
               </div>

               <div class="cbp-af-header gray show-for-small">
                  <div class="cbp-af-inner">
                        <div class="logoholder" style="float: left;" ><a href="index" title="Go to home page"><img src="assets/images/icons/michaelcattell_logo.png"></a></div>
                     <nav class="mini" style="padding: 10px; color: #333;">
                        <a href="work">Work</a>
                        <a href="about">About</a>
                        <a href="#">Writings</a>
                        <a href="interests">Interests</a>
                        <a href="http://mikeycattell.tumblr.com/" title="see random pictures that i take..randomly">Pictures</a>
                        <a href="contact">Contact</a>
                     </nav>
                  </div>
               </div>

                        