<!--thumbnails for other works-->
<section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <!-- Thumbnails -->
    <div class="row">
      <div class="eight columns">
        <h3 class="standardh3">Other work</h3>
      </div>
      <div class="four columns end">
      <a href="work" title="see all my work!" class="bigblue button">See all my work</a>
      </div>       
       <div class="height10"></div>
    </div>

    <div class="row">
        <div class="twelve columns">
          <ul class="block-grid three-up showcase-items">
            <li>
                <div class="box"><a href="pomsnotbombs" title="view the case study for Poms not Bombs">{{ "pomsnotbombs_nail.jpg" | asset_url | image_tag }}
                <p class="plus">Poms not Bombs<br><span class="darktxt">Design, Build, Feeder, Owner</span></p></a>
                </div>
            </li>
            <li>
              <div class="box"> <a href="argos" title="view the case study for Argos-Spain">{{ "argos_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Argos<br><span class="darktxt">Build</span></p></a>
              </div>
            </li>
            <li>
              <div class="box"> <a href="smallpeeps" title="view the case study for Premier Food Safety">{{ "smallpeeps_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Small Peeps<br><span class="darktxt">Design, Build</span></p></a>
              </div>
            </li>
          </ul>    
        </div>
    </div>
  </div>
</section>