<section>

<ul data-orbit>

  <li class="testimonals">    
    <div class="row">  
      <div class="testimonalstext">
        <hgroup>
          <blockquote>
          <strong>&quot;</strong>Michael is a talented and expert designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed.<br>Always generous with his time, talent, and humor.<strong>&quot;</strong>
          </blockquote>
          <cite class="testimonial__cite">- <strong>Christine Le </strong> Project Manager of Marketing Campaigns</cite>
         </hgroup>
        </div>
      </div>
    </li>

  <li class="testimonals">    
    <div class="row"> 
      <div class="testimonalstext">  
      <hgroup>
        <blockquote>
           <strong>&quot;</strong>Having a quick and accurate designer on board is exactly what I required for the job in hand, and he delivered above and beyond. He also coded the site, saving me time and effort.<br>Would recommend Mikey to anyone looking for the complete package!<strong>&quot;</strong>
        </blockquote>
        <cite class="testimonial__cite">- <strong>Guillermo Gette</strong> Software Engineer</cite>
      </hgroup>
    </div>
    </div>
  </li>

  <li class="testimonals">    
    <div class="row"> 
      <div class="testimonalstext">  
        <hgroup>
          <blockquote>
             <strong>&quot;</strong>Michael was always willing to offer his assistance and had an excellent rapport with all constituents served in the office including clients, employers and other professional organisations.<br>He would be an asset to any employer and I highly recommend him for any employment. He will be a valuable asset for any organization.<strong>&quot;</strong>
          </blockquote>
          <cite class="testimonial__cite">- <strong>John Bottomly</strong> Business Manager</cite>
        </hgroup>
      </div>
    </div>
  </li> 

  <li class="testimonals">    
    <div class="row"> 
      <div class="testimonalstext">  
        <hgroup>
          <blockquote>
             <strong>&quot;</strong>I always have a eye out for your humorous sayings on twitter, makes my day worthy of waking up.<strong>&quot;</strong>
          </blockquote>
        <cite class="testimonial__cite">- <strong>sevsarkissian</strong> Twitter Madman</cite>
        </hgroup>
      </div>
    </div>
  </li>     

</ul>

</section>