<section>

<ul data-orbit>

  <li class="christinetest" data-speed="1" data-type="background">    
    <div class="row">  
      <div class="christinetesttext">
        <hgroup>
          <blockquote>
          <strong>&quot;</strong>Michael is a talented and expert designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed. Always generous with his time, talent, and humor.<strong>&quot;</strong>
          </blockquote>
          <p class="quote">Christine Le - Project Manager of Marketing Campaigns</p>  
         </hgroup>
        </div>
      </div>
    </li>

  <li class="gettetest noise">    
    <div class="row"> 
      <div class="gettetesttext">  
      <hgroup>
        <blockquote>
           <strong>&quot;</strong>Having a quick and accurate designer on board is exactly what I required for the job in hand, and he delivered above and beyond. He also could code the site, saving me time and effort. Would recommend Mikey to anyone looking for the complete package!<strong>&quot;</strong>
        </blockquote>
        <p class="quote"><a href="https://twitter.com/guillegette" title="follow Guillermo Gette on twitter - he's the most foreign guy you'll ever tweet">Guillermo Gette</a> - Software Engineer</p>  
      </hgroup>
    </div>
    </div>
  </li>

  <li class="gettetest noise">    
    <div class="row"> 
      <div class="gettetesttext">  
        <hgroup>
          <blockquote>
             <strong>&quot;</strong>I mainly work from my well equipped office based at the Digital Hub in Doncaster, escaping home working a couple of years ago! when not in the office im usually on-site with clients or agencies around Yorkshire.<strong>&quot;</strong>
          </blockquote>
          <p class="quote">Christine Le - Project Manager of Marketing Campaigns</p>  
        </hgroup>
      </div>
    </div>
  </li>  

</ul>

</section>