<section>
<div class="lightgraybgstyle contentinternalpad">
   <div class="row">
     <div class="twelve columns">
       <p class="" style="#fff; text-align: center; font-size: 18px;"><img src="assets/images/icons/twitter_icon.png">This t shirt im wearing is getting tighter and tighter..im not the Hulk, just hungry.</p>
     </div>
   </div>
</section>