<section class="contentnopad">
  <div class="contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">
        <h3 class="standardh3">Writings</h3>
        	<div class="writingspara">
        	<script src="http://feeds.feedburner.com/michaelcattell/ztcG?format=sigpro" type="text/javascript" ></script>
        	</div>
      </div>
    </div>
  </div>
</section>