{% block title %}Michael Cattell : About - Freelance Digital Designer based in South Yorkshire.{% endblock %}
{% block content %}



<style>
.mega-l {
font-size: 6rem;
}
h6, .f6 {
font-size: 1rem;
}


</style>

<section class="pl contentnobg">
   <div class="row ">
      <div class="twelve columns">
        <!-- Thumbnails start -->

      <div class="pvm">
        <a class="f1 f1-ns tracked mega-l blk" href="http://mrsjxn.com" title="MRSJXN - Post Future Beats">MRSJXN</a>
        <p class="f6 mn">Post-future beats with <a href="http://jxnblk.com" title="Jxnblk" class="ttu blk tracked">JxnBlk</a></p>
      </div>
      <div class="pvm">
        <a class="f1 f1-ns mega-l ttu tracked blk" href="http://github.com/mrmrs/pesticide"
          title="Pesticide - Faster css layout debugging">Pesticide</a>
        <p class="f6 mn">Faster css layout debugging. </p>
      </div>
      <div class="pvm">
        <a href="http://mn-ml.cc" class="f1 f1-ns mega-l blk tracked" title="MNML - Light-weight Responsive HTML5 Boilerplate">MNML</a>
        <p class="f6 mn">Light-weight html5 boilerplate.</p>
      </div>
      <div class="pvm">
        <a href="http://nkd.cc" class="f1 f1-ns mega-l blk tracked" title="NKD - Minimal Responsive Jekyll Boilerplate">NKD</a>
        <p class="f6 mn">Bare bones boilerplate for Jekyll projects.</p>
      </div>
      <div class="pvm">
        <a href="http://clrs.cc" class="f1 f1-ns mega-l blk tracked" title="CLRS: Better colors for the web">COLORS</a>
        <p class="f6 mn">A nicer color palette for the web.</p>
      </div>
      <div class="pvm">
        <a class="f1 f1-ns mega-l blk tracked" href="http://github.com/mrmrs/sink-css" title="SINK CSS - An experiment in single purpose classes">SINK CSS</a>
        <p class="f6 mn">An experiment with single purpose classes.</p>
      </div>
      <div class="pvm">
        <a href="http://www.cssstats.com" class="f1 f1-ns mega-l blk tracked" title="CSS STATS - CSS Visualizer">CSS STATS</a>
        <p class="f6 mn">CSS visualizer.</p>
      </div>
      <div class="pvm">
        <a class="f1 f1-ns tracked blk mega-l" href="http://prnt.cc" title="PRNT - Posters and other print work">PRNT</a>
        <p class="f6 mn">Various print work.</p>
      </div>
      <div class="pvm">
        <a class="blk f1 f1-ns mega-l tracked" href="http://gfffs.com" title="GFFFFS - HD Gifs for the super bored">GFFFS</a>
        <p class="f6 mn">
          High-def animated gifs for the super-bored.
        </p>
      </div>
      <div class="pvm">
        <a class="blk f1 f1-ns mega-l tracked" href="http://☠☣.ws/" title="">WRITING</a>
        <p class="f6 mn">
          Thoughts on design, vim, and css.
        </p>
      </div>
    </div>
  </div>
    </section>


{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}